[2019-01-22 15:39] chrishobcroft opened #3 "Ethereum Cat Herders Meeting #4 - Agenda"
# Date and Time

Proposed: 1400 GMT on Tuesday 5 February

# Location

Zoom. Links will be sent to attendees.

# Agenda

Please add comments below if you would like to propose items to be added to the agenda

* Update on Actions from Meeting #3 (see below)
* ProgPOW Audit - Requirements / Plan / Roadmap
* Ethereum Developer Portal
* Finalize website (by date)
* Early findings in Aragon DAO researc

[2019-02-05 15:22] CPSTL opened #4 "Ethereum Cat Herders Meeting #5 (Agenda)"
## Date and Time

Proposed time is 14:00 GMT on Tuesday, February 12th, 2019.

## Location

Zoom. The link will be posted in the Gitter channel and sent to attendees.

## Agenda

1. Update on the progress of the ProgPow Audit
2. Website completion
3. Post Eth Cat Herders Community post (how to get involved etc..)
4. Updates on the action items from Post mortem and how we plan to track them (Subcom

[2019-02-08 22:34] lrettig opened #5 "Create a carbonvote for progpow"
An anonymous community member has offered a bounty on this task (see Gitcoin bounty info, below). Here are the requirements:

1. Buy a domain name such as "Progpowcarbonvote.com"
1. Set up a carbon vote (https://github.com/EthFans/carbonvote) on the domain with the question, "Should Ethereum change the proof of work algorithm to ProgPoW?" The only possible answers should be "yes" or "no".

Task sh

[2019-02-18 00:08] DBrettRobertson opened #6 "Ethereum Cat Herders Meeting #6 - Agenda"
## Date and Time

Proposed time is 14:00 GMT on Tuesday, February 19th, 2019.

## Location

Zoom. The link will be posted in the Gitter channel and sent to attendees.

## Agenda

1. Update on ProgPow Audit
  1.1 Hudson feedback from meeting (ACTION 1)
  1.2 Subcommittee update
  1.3 Update on Carbon Vote (ACTION 2)
2. Constantinople Go Live
3. Updates on the action items from Constantinople Post m

[2019-02-18 06:04] #4 closed

[2019-02-19 14:48] DBrettRobertson opened #8 "Ethereum Cat Herders Meeting #7 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, March 12th, 2019.

## Location

Zoom. The link will be posted in the Gitter channel and sent to attendees.
[YouTube Link](https://www.youtube.com/watch?v=Va2fdfH5lic)

## Agenda

1. Constantinople Go Live1.
2. Update on ProgPow Audit
  2.1 Hudson to give update
  2.2 Subcommittee update
3. Hard Fork Coordination
4. Updates on the action item

[2019-02-19 14:49] #6 closed

[2019-02-19 14:50] #3 closed

[2019-02-19 16:07] sneg55 commented on #6
Do we have youtube or soundcloud link?

[2019-02-25 18:24] salanki commented on #5
It seems as the Carbonvote is unreachable.

[code]

[2019-02-25 23:27] lrettig commented on #8
Heads up that this is happening during EthCC. I'll be there, so likely unable to attend the call. Not sure if it impacts anyone else.

[2019-02-25 23:28] lrettig commented on #5
I don't think it was ever set up via SSL/TLS.

[2019-02-25 23:28] #5 closed

[2019-02-25 23:34] lrettig opened #9 "Take Notes for All Core Devs Meeting #56"
Call details in https://github.com/ethereum/pm/issues/82. Please reference https://github.com/ethereum/pm/issues/69 for more detailed instructions.

[2019-03-01 09:09] Swader commented on #9
@lrettig any feedback here?

[2019-03-01 11:10] lrettig commented on #9
Hey @Swader thanks for expressing interest. Pooja offered to do this previously so I just approved her. If you want to take notes as well, or maybe work with her, we might be able to find a little more funding for the bounty (CC @ceresstation).

[2019-03-01 11:34] Swader commented on #9
That's fine, thanks, maybe for next time 👍

[2019-03-01 19:01] timbeiko commented on #8
In today's all core devs call, it was mentioned that the Cat Herders should look into the HF coordinator role. Do we want to add that to the agenda?

Re: EthCC, would it make sense to push the call back one week? I believe @Souptacular is also attending, as he is listed as a speaker.

[2019-03-01 23:29] lrettig commented on #8
Yes

I think it does -- I will be at ethcc as well and couldn't join a call on tuesday.

[2019-03-02 03:59] sneg55 opened #11 "Steps to be done if we want to see ProgPoW live with Istanbul hardfork"
Copy pasted it from Gitter/ Eth-magicians

## Steps to be done if we want to see ProgPoW live with Istanbul hardfork

(1) get money into the audit bounties.
(2) Then the audit needs to come back with corroborating results
(3) then it gets added to the next hard fork (Istanbul if it happens soon enough)
(4) then the hardfork happens.

The bounty that has to be funded for ProgPoW audit:
https://gitc

[2019-03-02 04:00] sneg55 commented on #11
@Souptacular  can you please take a look when you have time?

[2019-03-02 04:01] lookfirst opened #12 "Document the cat herders process"
In Gitter:

I personally think that everyone is in agreement on this and would love to work to help improve things. The community just needs some direction. Just having meetings isn't enough. There needs to be an overall process and flow. I'd argue to also reduce the number of channels.

This is an issue to better document the cat herders PM process (in no particular order):

1. Define the flow ne

[2019-03-02 04:46] lookfirst commented on #11
@sneg55

The old bounty ended (dead) and the new bounty is here:

https://explorer.bounties.network/bounty/2502

Yes, confusing. Sorry.

[2019-03-02 05:13] brentxu commented on #11
Apologies for confusion.  Yes this is the correct link:

https://explorer.bounties.network/bounty/2502

We will post an official announcement including methodologies next week.  Thanks for everyone's patience on this.  We are taking steps to ensure that the tests are as comprehensive as possible.

[2019-03-04 22:33] lrettig commented on #9
Closed via https://github.com/ethereum/pm/pull/85

[2019-03-04 22:33] #9 closed

[2019-03-04 23:59] DBrettRobertson commented on #8
Due to EthCC and members of the Cat Herders attending the meeting has be postponed to same time a week later, the 12th March 2019.

[2019-03-10 13:53] poojaranjan commented on #12
We hope to discuss this in our next ECH call on Tuesday, March 12th, 2019.

[2019-03-10 13:57] lookfirst commented on #11
@poojaranjan This one is important to discuss too!

[2019-03-10 14:59] poojaranjan commented on #11
Yes, I agree. Officially, I am not part of 'ProgPOW' subcommittee,  but as an ECH and a member of subcommittee for Hardfork Release manager, I hope this to be taken up soon. Next ECH call will provide more clarity.

[2019-03-11 17:51] sneg55 commented on #8
Could I propose touch this issue on the meeting as well: https://github.com/ethereum-cat-herders/PM/issues/12 ?

[2019-03-12 14:25] ltfschoen commented on #8
I just finished creating this PR https://github.com/ethereum-cat-herders/PM/pull/13 associated with #12

[2019-03-12 14:25] ltfschoen commented on #12
I just finished creating this PR https://github.com/ethereum-cat-herders/PM/pull/13 associated with #12

[2019-03-12 14:26] lrettig opened #14 "Take Notes for All Core Devs Meeting #57"
Call details in ethereum/pm#83. Please reference ethereum/pm#69 for more detailed instructions.

[2019-03-12 14:44] poojaranjan commented on #14
I will attend the call and prepare the note.

[2019-03-12 14:56] timbeiko commented on #11
This was discussed on the Cat Herders call today, and the next step is to see whether we can have the EIP be accepted conditional on the results of the audit for Istanbul. I've requested this to be added to the next AllCoreDevs agenda. https://github.com/ethereum/pm/issues/83#issuecomment-472035024

[2019-03-12 14:59] timbeiko commented on #11
This was discussed on the Cat Herders call today, and the next step is to see whether we can have the EIP be accepted conditional on the results of the audit for Istanbul. I've requested this to be added to the next AllCoreDevs agenda. ethereum/pm#83 (comment)

[2019-03-12 15:14] lrettig opened #15 "Add links to previous calls to README"
Here are the ones I know about. Please add others that are missing:

- Meeting 7 (#8): https://www.youtube.com/watch?v=Va2fdfH5lic
- Meeting 6 (#6): https://youtu.be/TcWY8vmdh-k
- Meeting 5 (#4): https://youtu.be/tBnDcnAbdYo
- Meeting 4 (#3): https://soundcloud.com/lane-rettig-154644600/ethereum-cat-herders-meeting-4, https://youtu.be/1idlBHNGzqA
- Meeting 3 (Jan. 22 - no agenda?): https://youtu.b

[2019-03-12 17:01] DBrettRobertson commented on #8
Meeting concluded.

[2019-03-12 17:01] #8 closed

[2019-03-12 17:08] DBrettRobertson opened #16 "Ethereum Cat Herders Meeting #8 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, March 26th, 2019.

## Location

Zoom: The link will be posted in the Gitter channel and sent to attendees.
YouTube Livestream Link: https://www.youtube.com/watch?v=xLR5V0DGZxE

## Agenda

1. Update on ProgPow Audit
    - Hudson to give update
    - Subcommittee update
    - When are we shutting down progpowcarbonvote.com? Need to announce th

[2019-03-12 17:09] DBrettRobertson commented on #15
Done.

[2019-03-12 17:09] #15 closed

[2019-03-12 17:12] DBrettRobertson commented on #14
Happy to jump in and help take notes.

[2019-03-12 17:40] lrettig commented on #15
Thanks! In future let's use PRs so we have an audit log of changes and approvals of changes.

[2019-03-12 17:41] lrettig commented on #14
Could someone else please make a Gitcoin grant out of this issue and submit a funding request to https://github.com/ethereum-cat-herders/funding? Thanks

[2019-03-12 18:07] lrettig commented on #16
Could we discuss nominating a third multisig keyholder to replace Afri?

[2019-03-13 07:59] lrettig opened #17 "Replace Afri as multisig keyholder"
Proposed this as a meeting topic for meeting 8 (#16)

[2019-03-13 16:44] timbeiko opened #18 "Istanbul Hardfork Tracker"
In order to track progress for the Istanbul hard fork, we should maintain an Istanbul Hardfork Tracker on the Ethereum Wiki, [here](https://en.ethereum.wiki/roadmap/istanbul/tracker).

Past the following deadlines, from the [Istanbul Roadmap](https://en.ethereum.wiki/roadmap/istanbul), here is what we should expect in the tracker:

**Suggestion**: Track implementation by linking specific "work tic

[2019-03-13 16:52] timbeiko opened #19 "Document Process for Core EIP Proposal"
In order for the community to know what is required to propose a Core EIP, we should document the process and "non-spec" requirements. Spec requirements can be found in [EIP-1](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md).

The process documented should ideally cover everything from "I have an idea to an EIP" to "my EIP is live on mainnet". This includes, non-exhaustively:
- Proposi

[2019-03-14 06:09] lookfirst commented on #12
When I wrote the above, I didn't imagine that process to be something Dilbert-esque like ISO 9001:2000. I was envisioning something that started off simple and is filled out and grows over time iteratively and by the community. I think that going down the route of an ISO will produce a lot of documentation that nobody reads and only follows when there is issues.

Seriously, there is a [slew of Dil

[2019-03-14 19:06] salanki commented on #11
@timbeiko: Thank you for your effort. I believe clear commitments, in the form of an accepted EIP under the pretense that "unless the audit comes back with red flags we will include ProgPoW" and a defined roadmap will make the community effort much easier. It's hard to get community funding together when the perception is that there are no clear goalposts.

[2019-03-15 14:32] bmann commented on #18
I think my PR closes this as editing the README https://github.com/ethereum-cat-herders/PM/pull/20 -- thanks Tim!

[2019-03-15 14:37] bmann commented on #19
Yes, something that is more human readable and is broader than the technical bits and covers CoreDev process would be good.

[2019-03-15 14:52] #18 closed

[2019-03-15 15:09] timbeiko commented on #11
@sneg55 I suggest you listen to today's AllCoreDevs call. It seems like there is some rough consensus about next steps. If you feel something specific is still missing for ProgPow, could you please highlight it? If not, can you close this issue? Thank you!

[2019-03-15 15:12] lookfirst commented on #11
@timbeiko Would you like to please outline the rough consensus here in this issue as you see it?

[2019-03-15 16:25] timbeiko commented on #11
To me (I could be wrong!) it seems that ProgPow is likely going to be implemented for Istanbul and may be pulled out if the audit reveals anything nasty. One action item that came out of the call was for the Cat Herders to nominate a point person for ProgPow. I tweeted a bit about it here: https://twitter.com/TimBeiko/status/1106557972250050562

I would really recommend watching that part of the c

[2019-03-15 16:41] sneg55 commented on #11
@timbeiko  Thanks! I've watched it live, and I don't feel that this is set in stone consensus. I'll rather wait for Cat Herders confirmation on this steps, before closing this issue.

[2019-03-15 16:47] lookfirst commented on #11
I was on the call. The discussion around ProgPoW felt like an unorganized mess, such to the point that Vitalik had to step in (rightfully) and shut it down. The request for a point person is because of this. The Cats (or point person) could have better prepared Hudson for the discussion.

There could have been a clearly defined set of talking points and things to agree on, yet Hudson was going on

[2019-03-15 19:11] timbeiko commented on #19
Thinking about this more, perhaps a better way to do this is to simply place a PR against https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md? Looking at what is already there, it seems like the socializing part is the least defined, along with the client/financial support.

[2019-03-15 22:05] bmann commented on #19
All of the above ;)

I’d like to keep EIP-1 technically focused — while explaining a bunch more meta.

I had said to EthHub that it might be good content for their site.

We can use this repo and/or a HackMD to start this task. Could also be published as a page on the EIPs website.

[2019-03-17 15:19] Mikerah commented on #16
Hi,

I'm not sure if it's too late to add this to the agenda but I would like to see more collaboration between ECH and ETH2.0. As an ETH2.0 implementer, there is a lot to be determined and planned out that still hasn't been decided on yet. Some of us are doing this by self-organizing. However, I think it would be better to enlist the help of the ECH and better communicate ETH2.0 to the wider comm

[2019-03-17 16:45] lrettig commented on #16
Hey Mikerah, thanks for sharing the thought, that makes sense to me. From
my perspective what would be most helpful would be a specific set of asks
or tasks the herders could help with!

On Sun, Mar 17, 2019 at 11:19 Mikerah <notifications@github.com> wrote:

[2019-03-18 02:08] owocki commented on #14
@lrettig i can post a gitcoin grant for this.  what ETH address should it point to?

[2019-03-18 11:12] storafee commented on #14
@owocki Take a look at these examples

- [Take Notes For All Core Devs Meeting #56](https://gitcoin.co/issue/ethereum-cat-herders/PM/9/2478)
- [Take Notes For All Core Devs Meeting #55](https://gitcoin.co/issue/ethereum/pm/79/2371)
- [Notes For All Core Devs Meeting #54](https://gitcoin.co/issue/ethereum/pm/75/2242)
- [Take Notes For All Core Devs Call #53](https://gitcoin.co/issue/ethereum/pm/72/

[2019-03-18 11:40] owocki commented on #14
Oh sorry, I thought we were talking about a [Gitcoin Grant](https://gitcoin.co/grants), not a [Gitcoin Bounty](https://gitcoin.co/explorer).

[2019-03-18 15:43] lrettig commented on #14
No worries, I'll handle it.

[2019-03-18 15:56] lrettig opened #21 "Take Notes for All Core Devs Meeting #58"
Call details in ethereum/pm#89. Please reference ethereum/pm#69 for more detailed instructions.

[2019-03-18 17:40] bmann commented on #11
@Souptacular as discussed on core devs call, please let everyone know who the point of contact is for the audit process ( you, until you let us know different :) ), and what the terms of the audit are.

As I understand it from Core Devs call, the scope of the audit should be a technical and security review.

ASIC implementation etc is left as an exercise to the market.

[2019-03-18 17:46] gcolvin commented on #11
https://www.roadtrips.com/wp-content/uploads/2016/11/kentuckyderby-hero7.jpg

[2019-03-18 20:10] lrettig commented on #11
I think the non-technical aspects of progpow should be dropped entirely from the core devs agendas unless/until there's a technical update. As we lack another governance mechanism to discuss non-technical issues, I propose progpow remain wholly under the purview of the herders for the time being.

BTW the topic was discussed [here](https://github.com/ethereum/pm/blob/e48abcb8ab4e4eb82e93fb53a103d8

[2019-03-19 01:05] Mikerah commented on #16
The main task that comes to mind is for organizing a cross-client testnet. This will require coordination between all eth2.0 teams. With @zscole of whiteblock, we have informally been planning cross-client testnets between particular teams but we will definitely need something more organized.
The requirements to get to a cross-client testnet are kind of up in the air but here's a rough list of wha

[2019-03-19 02:06] bmann commented on #11
@lrettig yes that’s agreed — now everyone is looking who the point of contact is from ECH. If it’s not you and it’s not @Souptacular then who is the human driving this?

[2019-03-19 02:27] lrettig commented on #11
It's not me. I can't speak to anyone else.

[2019-03-19 02:36] lookfirst commented on #11
![image](https://user-images.githubusercontent.com/85355/54576369-6a0f9a00-4a2a-11e9-9b35-a53a57b387ad.png)

"It's not me. I can't speak to anyone else. But, I will follow up with the rest of the Cats and get back to you with an answer as soon as we can."

-- Helpful Cat Herder.

[2019-03-19 02:51] sneg55 commented on #11
I was under impression that the Ethereum Cat Herders was created to avoid such chaos when nobody wants to take responsibility and nobody knows who is in charge?

[2019-03-19 11:29] lrettig commented on #11
Fair game. I responded that way because @souptacular has run point on this for some time and I've intentionally stayed out of it. Will discuss with Hudson.

[2019-03-19 14:03] timbeiko commented on #11
This is probably worth noting here: there will be talk of ProgPow (and all other potential Istanbul EIPs) at an in-person core devs meeting on April 17-18. https://ethereum-magicians.org/t/istanbul-eth1x-roadmap-planning-meeting-april-17th-18th-in-berlin/2899

[2019-03-19 19:28] Souptacular commented on #11
I am the point person for this and will be releasing an update soon. We are currently trying to secure funding before we jump the gun on announcing the details of the audit. I can post some of them here though, or at least post what we hope can be accomplished from the audit pending funding and other things.

1. **The expected effects of ProgPoW on the security of Ethereum vis-a-vis:**

- Security

[2019-03-19 19:32] shemnon commented on #11
Is there a timeframe on availability of findings that can be stated publicly?

[2019-03-19 19:37] Souptacular commented on #11
Not until we finalize and fund the audit details.

[2019-03-19 23:42] lrettig commented on #14
@poojaranjan sorry for the delay here, please "apply for" the bounty so we can pay it out. Thanks!

[2019-03-19 23:56] DBrettRobertson commented on #21
Put my name down.

[2019-03-19 23:59] lrettig commented on #14
Bounty paid, funding spreadsheet updated, thank you.

[2019-03-19 23:59] #14 closed

[2019-03-20 14:30] poojaranjan commented on #19
@timbeiko thanks for sharing, will update as we go.

[2019-03-20 23:15] emmaodia commented on #21
I can get this done using this action Plan:

- Join the call
- Listen intently on the call
- Record the call
- Take initial notes while listening in the call
- Review the recorded call to update the notes as needed
- Update the rough draft of minutes to align to desired format

To ensure that I can properly align this to the desired format I will keep track of what is being discussed and who is th

[2019-03-21 03:01] lookfirst commented on #21
Great plan. This should be coded up in the SOP for the Cat Herders.

[2019-03-21 11:06] lrettig commented on #16
Sounds reasonable, with the caveat that the Herders are more focused on people and processes than on tech -- so for instance I suspect they're not the right group to manage tests, protocols, or specs directly, but they could help make sure these things are being done effectively. I'll add it to the next meeting agenda.

[2019-03-22 14:53] timbeiko commented on #19
I've created an outline of what this could look like in HackMD: https://hackmd.io/s/BJIB4Ofu4
A few questions before I go further:

1. Should we focus this on Core EIPs or any EIPs?
1. Is there anything that is missing from the process? I tried to model the outline on the EIP-1 format.
1. How much/little should we reference EIP-1? Should the document assume someone has read + understood EIP-1, or

[2019-03-22 15:03] sneg55 commented on #19
1. what's the difference between Core EIPs and other EIPs?
3. I would assume no-prior knowledge

[2019-03-22 15:05] timbeiko commented on #19
"Core" is defined in the EIPS repo as the following:

https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1.md#eip-types

Basically, Core EIPs likely require a hard fork.

[2019-03-22 15:21] bmann commented on #19
For reference to capture other discussions - here’s how README and EIP-1 conflict https://ethereum-magicians.org/t/eth1x-istanbul-prep-meeting/2396/9

[2019-03-23 15:39] poojaranjan commented on #19
We may possibly add this in socialization, after introduction of draft EIP and / or before last call
- Introduce it (or Shout out for last call) on  gitter, reddit, and core dev call (possibly add it in agenda - new EIP / last call EIP )
- Blog post by the author for background, need and application of the EIP.
- Reach out to ECH or reviewers for review, when EIP is ready (if applied). ECH may coo

[2019-03-25 02:11] lookfirst commented on #11
@Souptacular Any news on this?

[2019-03-25 05:56] lookfirst commented on #11
https://medium.com/@lookfirst/what-is-the-total-amount-necessary-to-fund-the-audit-c2451efbcce5

[2019-03-26 08:52] DBrettRobertson commented on #16
Response to ACTION ITEM 7.1.
The correct link for the Whiteblock's ProgPoW Analysis can be found: https://explorer.bounties.network/bounty/2502

[2019-03-26 13:46] timbeiko commented on #16
Could we add an agenda item to talk about how to better share the outcomes of AllCoreDevs? IMO adding summaries to the transcript and sharing those more visibly on Twitter, Reddit and Ethereum Magicians would be a low-effort, high-impact first step.

[2019-03-26 15:20] lrettig commented on #17
We decided on today's call to replace Afri with @CPSTL. I sent a replace owner tx: https://etherscan.io/tx/0x7d7656de396d978f8d381fa6ed6c68cdcd5baee2a6e087fc97a7a0b78c586865

[2019-03-26 15:27] lrettig commented on #17
This is done

[2019-03-26 15:27] #17 closed

[2019-03-26 16:01] DBrettRobertson commented on #16
Meeting complete.

[2019-03-26 16:01] #16 closed

[2019-03-26 16:05] DBrettRobertson opened #23 "Ethereum Cat Herders Meeting #9 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, April 2nd, 2019.

## Location

Zoom: The link will be posted in the Gitter channel and sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Moloch DAO & Aragon Review
1. Updates on the action items from Constantinople post-mortem
1. Update on the Ethereum Development Porta

[2019-03-26 23:55] sneg55 commented on #11
Quote from today meeting notes:

https://github.com/ethereum-cat-herders/PM/blob/master/All%20Ethereum%20Cat%20Herder%20Meetings/Meeting%208.md

Can you please clarify this point? Could this community sentiment measurement lead to rejection of ProgPow EIP?

[2019-03-27 00:01] salanki commented on #11
I’d also like to understand this. Community signaling was done using multiple media. It clearly showed support for ProgPoW. Most people who participated have now moved on as they have done their part. Do we need to keep remind the people who voted in the earlier signaling to “keep shouting” as decisions will be revered based on “who shouts the loudest at the moment”?

We have asked for a clear roa

[2019-03-27 08:22] adamschmideg commented on #12
I see the [Gitlab handbook](https://about.gitlab.com/handbook/handbook-usage/#why-handbook-first) a positive example. It's a few 1000 pages long. They seem to keep it up-to-date, because they actually use it for their day to day work.

[2019-03-27 10:24] Mikerah opened #24 "ETH2.0 Project Management Meta Issue"
During the latest cat herders calls, there was some interest in helping project management ETH2.0. I am starting this issue with resources to try to get interested members up to speed on the teams.

[ETH2.0 Teams Summary](https://docs.ethhub.io/ethereum-roadmap/ethereum-2.0/eth2.0-teams/teams-building-eth2.0/)
[ETH2.0 PM Repo](https://github.com/ethereum/eth2.0-pm)

Person of contact for each team

[2019-03-27 12:11] mariapaulafn commented on #24
Hey @Mikerah thanks for this - I am happy to help, would need to review all material this weekend and get a proper call to be brought up to speed

[2019-03-27 12:24] Mikerah commented on #24
@mariapaulafn Thanks for your interest. I agree that it would be ideal to have more than 1 PM. Just reach out when you are ready for a call.

[2019-03-28 03:22] lrettig opened #26 "Take down progpowcarbonvote.com"
Take it down in two weeks, as decided on yesterday's call.

[2019-03-28 03:28] lrettig commented on #26
I added a note to the site to this effect, and tweeted about it. Please help spread the word.

[2019-03-28 08:53] mariapaulafn commented on #24
@Mikerah @poojaranjan @CPSTL how about next Tues after the cat herders call?

[2019-03-28 17:06] shemnon commented on #11
Community sentiment may shift based on audit results.  Heck, miner sentiment may shift based on the audit results.  But IMHO we should only change course if the sentiment shifts because available information changed.

[2019-03-28 17:25] salanki commented on #11
Thank you and I agree 100% @shemnon

[2019-03-28 22:25] lrettig commented on #24
Adding a link to [Danny's thoughts](https://github.com/ethereum/eth2.0-pm/issues/35#issuecomment-477421085) on this topic as discussed on today's ETH2 call.

[2019-03-29 14:16] timbeiko commented on #19
Small change to EIP1 proposed here: https://github.com/ethereum/EIPs/pull/1858

[2019-03-29 15:01] lrettig commented on #26
I set the ending block number to 7504000 which should happen in 13-14 days:

https://github.com/lrettig/carbonvote/commit/90cf3aa6925e3f9da430d4ef81035dc7e89cbcfa

[2019-03-29 19:49] mariapaulafn commented on #24
read and it makes sense - ill wait for further instructions :)

[2019-04-02 15:03] lrettig opened #28 "Increase multisig security"
As discussed on today's call, the [multisig](https://etherscan.io/address/0x68085e7f88e90fa9247489c83fab30b177ebccb3#tokentxns) now contains > $14k USD as a result of the [progpow grant](https://gitcoin.co/grants/82/official-progpow-technical-audit-funding). Let's bump it up to a 2-of-3, and if possible, move the progpow funds to a separate multisig for accounting and accountability purposes.

[2019-04-02 15:09] lrettig commented on #28
Tx sent to update required from one to two: https://etherscan.io/tx/0xffa55b38cfec634c366549c144c288bdde6b09448c065a35870ab988984d779f

[2019-04-02 15:15] lrettig commented on #28
Done. @Souptacular @CPSTL we'll need to coordinate and have two of us approve each withdrawal now! FYI. Anyone can submit an initial tx, then someone else has to come along and confirm it.

[2019-04-02 15:15] lrettig commented on #28
Leaving this open for now to discuss the second question: do we want to move the propgow funds to a different multisig?

[2019-04-03 14:12] timbeiko commented on #19
Linking this merged PR to EIP-1: https://github.com/ethereum/EIPs/pull/1896/files as well as a relevant EthMagicians thread: https://ethereum-magicians.org/t/definitions-of-governance-layers/3054

[2019-04-04 02:02] bmann opened #29 "Document live streaming for Core Dev Calls"
On Twitter / Reddit, @souptacular announced that only a few people know how to livestream.

It would be good to document this and give other people permission.

See https://en.ethereum.wiki/infrastructure#all-core-dev-calls for a start and some questions

[2019-04-04 03:54] Souptacular commented on #29
On YouTube permissions, if you have permission to livestream you also have permission to delete videos. It is a huge risk to allow more than a few people to have that access.

Alternatively, we can have someone stream it to their own account and then afterwards we can upload it to the ethereumfoundation YouTube channel.

[2019-04-04 03:58] bmann commented on #29
This is the research I did on managing a brand account / permissions for managers https://support.google.com/youtube/answer/4628007?hl=en

If the ethereumfoundation account is not set up as a brand account, then it should be.

Also, if that's the only source of those videos, maybe we can download them and archive them somewhere else?

I think @timbeiko said he could do this. Do you trust him to ha

[2019-04-04 04:02] bmann opened #30 "Delete www repo"
I think the site is being generated from here: https://github.com/ethereum-cat-herders/ethereum-cat-herders.github.io

Although the www repo is ALSO being generated, so it is duplicated here http://www.ethereumcatherders.com/www/

So, I think the WWW repo can be deleted.

[2019-04-04 04:05] bmann opened #31 "Install Netlify CMS for easy graphical editing of Markdown docs?"
I use the Netlify CMS https://www.netlifycms.org/ to manage content in Git repos, which is controlled by who has maintainer access to a repo.

Would the EthCatHerders like me to install this? Could be installed in the Jekyll site https://github.com/ethereum-cat-herders/ethereum-cat-herders.github.io

Would mean that notes could all be done on the website, but still be committed to Github. And peop

[2019-04-04 04:21] Souptacular commented on #29
I'll talk to Tim about streaming it for April 12th. We can also move the videos off of Ethereum Foundation YouTube infra.

[2019-04-04 04:21] Souptacular commented on #29
Whoops closed it.

[2019-04-04 12:45] timbeiko commented on #29
I'm happy to try and stream it. IMO it'd be a bit weird for it to be on my personal account. I can imagine people being put off by that, but if it's better than nothing, sure. Hudson and I have a call scheduled today, we can go over that during it and report back here :-)

[2019-04-04 13:53] lrettig commented on #29
Can we just set up a new "allcoredevs" brand account? And Twitter too. And blog.

It's time.

[2019-04-04 14:05] timbeiko commented on #29
I think it maybe makes sense to keep the AllCoreDevs calls on the EF account, but maybe find a way to broaden access. Re: Twitter, someone registered `EthCoreDevs` and I managed to snag `AllCoreDevs`. Not sure if there is a way to allow multiple people on it. For a blog, isn't that EthMagicians 😛?

[2019-04-04 14:08] lrettig commented on #29
There is no EthMagicians blog. And I think there might be value in having a more quasi-official blog where the core devs can post things, apart from EF. It's not urgent.

You can share a Twitter account using Tweetdeck!

Why do you think it makes sense to keep the calls on the EF account?

[2019-04-04 14:22] timbeiko commented on #29
Good to know! Not sure what the next steps would be here. How do we get rough consensus on whether this is valuable or whether it just adds noise?

The reach, mostly. Also, if we can set up multiple users on an `AllCoreDevs` account, then why shouldn't we do just that with the EF one?

[2019-04-04 15:13] sneg55 commented on #29
Maybe even stand-alone site for Allcoredevs?

[2019-04-04 16:05] Souptacular commented on #29
The issue is that the Ethereum Foundation YouTube account is a brand account and so anyone who has access to the brand account can delete videos, even with the lowest privileges. I am starting to get more comfortable with the idea of letting people who are filling in get temporary access to the channel to do the recording as long as they are trusted. I may also set up something to backup the video

[2019-04-04 16:48] bmann commented on #29
@lrettig no to separate AllCoreDevs blog twitter etc — this is busy work that already isn’t handled as well as it should, and I’m pretty sure ACD would NOT want this. It really is a coordination channel and we’re adding more overhead.

I treat EthMagicians as my community blog. Having an Announcements channel or process is possible as well.

Also — this is all OT, file new issues and/or kick off d

[2019-04-04 17:43] bmann opened #32 "Figure out next timing / location of in-person meeting"
@timbeiko you were the one discussing this with me so I’m tagging you again ;)

I would suggest this get done in North America.

Do we need one before the October hardfork? What timelines should it sync up with?

[2019-04-04 18:25] timbeiko commented on #32
It may be good to bring this up at the Berlin meetings. I personally feel that these meetings are most helpful at the "figuring out what EIPs to include" stage rather than the "coordination of the actual hard fork" stage, but others may disagree.

To me, the next meeting would depend on when Istanbul and the HF after that happen. It's hard to plan ahead when there is still uncertainty about whethe

[2019-04-04 19:51] bmann commented on #32
I think Istanbul timing is set until someone steps up to propose a post Istanbul timing.

Yes we will discuss in Berlin.

I’d love to announce location and date by the time Berlin is over.

[2019-04-04 22:37] meknab commented on #32
if there is an appetite for holding it in nyc or seattle I'd be happy to coordinate administratively

[2019-04-05 05:26] sneg55 opened #33 "forum.ethereum.org - abandoned community forum"
Do we know who is in charge with that forum? It looks abandoned and also there are questionable ads of miners chassis right in the forum header.

@bmann  said on ECH gitter that it's probably should be taken down.

[2019-04-05 05:35] bmann opened #34 "Make this repo the default place to file issues"
If someone in the Ethereum community doesn’t know where to file an issue — we should invite them to do it here.

In general, except for very project / repo specific issues, it would be helpful to have all ECH projects have issues here. We can split up when there is more volume.

Also, let’s use Projects! And labels!

[2019-04-05 19:44] Souptacular commented on #29
Auryn has volunteered to record the meeting this next week and he helped me with some ways we can better make sure that people can easily stream to the EF YouTube channel in the future.

[2019-04-05 20:52] mariapaulafn commented on #29
Hey @Souptacular for emergencies - I have tried this transcribing service that's really accurate, and not expensive. If at some point we cannot find a note taker - if the call is recorded I can send it there and clean them up, I was really surprised with the accuracy. https://gotranscript.com/

[2019-04-05 20:54] mariapaulafn commented on #29
@lrettig there is an ETHMagicians Medium Blog. We just hardly use it :)
Can give you access @timbeiko https://medium.com/ethereum-magicians/

[2019-04-06 04:59] bmann commented on #29
@Souptacular can we get some of this documented? Questions are on the wiki.

Some of it maybe not because of IPSec concerns but in general should know some people / who to contact if anything needed.

[2019-04-06 21:09] bmann commented on #29
I'm adding the open questions from the wiki (I justed edited them based on some answers here):

* who has commit access / can manage issues on the `ethereum/pm` repo
* what is the setup for YouTube livestreaming? anything that needs documenting?

Would love to close this if we can get these two last items answered. :)

[2019-04-06 21:18] bmann opened #35 "Bug: blog.ethereum.org LinkedIn icon in footer links to a random user"
The footer of https://blog.ethereum.org has a LinkedIn icon that links to https://linkedin.com/in/ethereum -- this is a person, not an

I couldn't find the source of this blog, otherwise I would have made a pull request to help fix it.

If we're going to link to LinkedIn at all, people probably meant to link to https://www.linkedin.com/company/ethereum/ -- which should be labelled as Ethereum Foun

[2019-04-06 21:30] bmann opened #36 "Give Boris access to this repo"
@DBrettRobertson said that he would see about granting me access to this repo.

Please let me know if this is possible and/or who has control over this repo and can get it done.

[2019-04-14 06:19] timbeiko commented on #26
@lrettig should we close this?

[2019-04-14 11:28] lrettig commented on #26
Yes, it's done. Data is archived here: https://github.com/lrettig/carbonvote/tree/final-data/data

[2019-04-14 11:28] #26 closed

[2019-04-15 06:13] lrettig commented on #36
Invited you to the ECH github org, @bmann - that should do the trick, let us know if it worked.

[2019-04-15 06:14] lrettig commented on #35
Ping @Souptacular @jpitts - any chance you guys could fix this?

[2019-04-15 06:15] lrettig commented on #34
SGTM. We should add documentation to this effect to the repo's README.

[2019-04-15 06:15] lrettig commented on #33
CC @Souptacular @jpitts

[2019-04-15 06:18] lrettig commented on #32
If we're aiming for network upgrades roughly every six months, then we may want to meet roughly every six months. That puts us at October though, which is very close to Devcon.

[2019-04-15 06:18] lrettig commented on #30
@HugoSanchez is this yours?

[2019-04-15 08:05] HugoSanchez commented on #30
Hey @adamschmideg do you know which one is the one to be deleted?

[2019-04-15 08:19] timbeiko commented on #32
FWIW, after informally asking a few PegaSys people, roughly 1x/quarter seems right. Devcon -> Stanford Meetings -> Berlin -> Devcon is more or less on that schedule.

[2019-04-15 08:33] adamschmideg commented on #30
bmann is right, https://github.com/ethereum-cat-herders/www can be deleted

[2019-04-15 08:36] HugoSanchez commented on #30
Done, thanks everyone!

[2019-04-15 20:29] #23 closed

[2019-04-15 21:10] DBrettRobertson opened #38 "Ethereum Cat Herders Meeting #10 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, April 16th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Moloch DAO & Aragon Review
1. Updates on the action items from Constantinople post-mortem
1. Update on the Ethereum Development Portal designs/structure
1. Any Othe

[2019-04-16 08:11] bmann commented on #32
I think aiming for once per quarter is a good idea. Also means you can easily “miss” some of them.

Moving continents can also be a goal.

I do want to do at least one fully “virtual conference” too.

So early July or early August? And one we have @meknab volunteering to help be an on site organizer in Seattle or NYC. We’ll make a call for organizers & hosts here in Berlin and get feedback on time

[2019-04-16 11:43] poojaranjan commented on #19
Formal process of selection of EIPs for hardforks (Meta EIP#) proposed [here](https://github.com/poojaranjan/EIPs/blob/patch-1/EIPsForHardfork.md)

[2019-04-16 15:10] DBrettRobertson commented on #38
Meeting complete.

[2019-04-16 15:10] #38 closed

[2019-04-16 15:12] DBrettRobertson opened #39 "Ethereum Cat Herders Meeting #11 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, April 30th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Moloch DAO & Aragon Review
1. Updates on the action items from Constantinople post-mortem
1. Update on the Ethereum Development Portal designs/structure
1. Website

[2019-04-17 07:25] bmann commented on #36
@lrettig member of the org, thank you! Still need admin / maintainer access to this PM repo.

Started by making a project board: https://github.com/orgs/ethereum-cat-herders/projects/2

[2019-04-17 08:26] bmann commented on #36
Woot. Done. Thanks Lane!

[2019-04-17 08:26] #36 closed

[2019-04-17 09:08] bmann opened #40 "State improvements question from Vitalik"
For @AlexeyAkhunov to answer.

[2019-04-17 09:25] bmann opened #41 "Funding & team forming for working groups"
Brought up by Alexey -- if we're going to have Working Groups -- we need to fund them, and we need to gather people who can work on it.

[2019-04-17 09:58] bmann opened #42 "Impact on uncle rates and other miner impacts from JIT"
@expede presentation on EVM Evolution / EIP615 https://drive.google.com/open?id=1_taRpfsEF-ofF0UpwKyGOH-ogPqxmpUD

Question / comment from @AFDudley -- will JIT'ing optimized code have impact on miners, including uncle rates.

One big point is: we need to do analysis of smart contracts in the wild, and make sure that optimizations don't cause increased forks.

@AFDudley Making it optional is more

[2019-04-17 13:07] bmann opened #43 "Consensus testing with Retesteth"
Capture action items of RPC changes needed, client changes, and identifying hard forks

Tie into larger testing initiatives

[2019-04-17 14:03] bmann opened #44 "Adding security considerations to EIP process"
@tintinweb presented on adding Security Considerations to EIPs by default

Will make a PR against EIP-1

[2019-04-17 14:27] bmann commented on #43
Also: coordinate with Zack from Whiteblock

[2019-04-17 22:03] djrtwo commented on #24
Hi! I'd love to hop on a call with the cat herders to give more insight into what is going on, status of the project, and short, medium, and long term goals. From there we can figure out how the cat herders can best integrate into the process and where y'all might best be able to help.

Who is a good point of contact? Should we coordinate here or via email?

[2019-04-17 22:49] DBrettRobertson commented on #24
Hey Danny, thanks for dropping a line. We would love to catch up and discuss where ETH 2.0 is and to determine if and where the Cat Herders could help. I will drop you a line via gitter to coordinate the call.

[2019-04-17 23:24] sneg55 commented on #33
Proposal: 301-redirect old domain to https://community.ethhub.io

[2019-04-18 00:55] MadeofTin opened #45 "[State Rent option 1] Stateful Track - Testing the ideal statefulness differential"
There is a possibility that looking at the difference between the previous state can be used to reduce state size. There is also a possible there is an optimal n-states to consider. This can be discovered through testing.

[2019-04-18 01:07] MadeofTin opened #46 "[State Rent option 2] Stateless track - Needs help with Compressed STARKs in Prime Fields"
Current STARKS use  2^n Galois fields. These are efficient for addition operations however, this is not ideal for the state proofs being considered to reduce state size. Prime fields are a much better candidate, but currently there is no existing implementation. This is something Alexey needs help to proceed.

[2019-04-18 01:17] MadeofTin opened #47 "[State-Rent] Evaluate if Linear Storage Backed is correct."
Notes:
 * Could be better for the EWASM implementation as Linear Storage is part of that spec. Increasing operability with existing libraries. Example using a Red-Black Tree implementation compiled from another language using linear storage.
 * Most developers already think in Arrays over Maps. Unnecessary internal complexity arises from implementations where Devs use an array because traditionall

[2019-04-18 01:20] MadeofTin opened #48 "Binary over hexary trees, may be superior, but implementing the transition is unknown"

[2019-04-18 01:21] MadeofTin opened #49 "Check if memory mapping contricts the WASM spec."
There was a discussion, and this came up to verify as one developer pointed out a possible implementation complexity.

[2019-04-18 01:23] MadeofTin opened #50 "Decide a Unified format for State Diffs"
A few clients are starting to use these yet there doesn't exist a format that would allow interoperability between clients.

[2019-04-18 01:43] MadeofTin opened #51 "Where should the Eth1.x online discussion take place?"
What is the home for Eth1.x specific discussions?
Is it ethresear.ch, ethmagicians, or would it be best to have it's own focused environment?

This is from my own observation that many of the replies to Eth1.x related discussions on ethresear.ch is some form of "this isn't an issue when we move to PoS". How many Eth2 eyes need to see eth1.x and visa versa?

Perhaps mixing the discussions makes fin

[2019-04-18 14:52] MadeofTin opened #52 "Meta EIP for ewasm"

[2019-04-18 14:53] MadeofTin opened #53 "Versioning of the VM - does it make it into Istanbul"

[2019-04-18 14:53] MadeofTin opened #54 "Introducing New Transaction Format"
Possibly extending from Vitaliks proposal.

[2019-04-18 14:54] MadeofTin opened #55 "Ewasm spec in a digestible format"

[2019-04-18 14:57] MadeofTin opened #56 "Benchmarking opcodes for better gas prices"

[2019-04-18 15:33] MadeofTin commented on #49
This was resolved. Treating memory virtually should solve the concern.

[2019-04-19 07:19] bmann opened #57 "Form the ETH1x ETH2 Finality Working Group"
If you’re interested leave a comment and we’ll message where the comms channels are.

@AlexeyAkhunov

[2019-04-19 08:41] AlexeyAkhunov commented on #40
Answers:
Q1: Prototype is using hexary trees
Q2: Yes, I think your intuition is right, although I did not explicitely try to measure it, because i just implemented multi-proof (without knowing they are called multiproof), because it just seemed the only correct way of doing it

[2019-04-19 17:26] bmann opened #58 "Expired SSL cert for solc-bin"
https://solc-bin.ethereum.org/ has an expired SSL cert which is causing issues for remix-ide

Via @p-s-dev in community Gitter

[2019-04-20 07:27] bmann commented on #58
Fixed now. @jpitts is one person who can deal with certs.

[2019-04-20 07:27] #58 closed

[2019-04-20 11:59] bmann commented on #55
@MadeofTin I labeled this as State Fees for now -- do you remember if it was for that or for something else? Assigning to you for now to update.

[2019-04-20 23:19] MadeofTin commented on #49
@bmann Can you mark this as closed?

[2019-04-20 23:21] MadeofTin commented on #55
It was for EWASM. Came up during the EWASM - EVM discussion.

[2019-04-21 10:01] #49 closed

[2019-04-22 10:47] bmann opened #59 "Propose cheesy Hard Fork timing"
Danno @shemnon wrote up a suggested cadence of hard forks in the EthMagicians thread https://ethereum-magicians.org/t/more-frequent-smaller-hardforks-vs-less-frequent-larger-ones/2929/28?u=boris

It showcases 4 months vs 6 months.

Danno, can you add this to agenda for an upcoming Core Devs Call and be a point of contact for this?

[2019-04-23 12:39] poojaranjan commented on #51
Perhaps the best (most authentic)  way  to share communication regarding Ethereum is [Ethereum Blog](https://blog.ethereum.org).

Fastest way of communication is [Ethereum Twitter](https://twitter.com/ethereum) and then follows [ECH Medium](https://medium.com/ethereum-cat-herders/stories/published) because essentially it is for Ethereum support.

[Fellowship of Ethereum Magician](https://ethereum-

[2019-04-23 13:37] poojaranjan opened #60 "Hard Fork Planning and Coordination Meeting #2 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Wednesday, April 24th, 2019.
Meeting duration: 1 hr

## Location

Zoom: The link will be shared soon.

## Agenda

1. Berlin meetup update.
2. Discuss [ECH issues](https://github.com/ethereum-cat-herders/PM/issues) (Istanbul / upgrade process specific), volunteer for tracking and closing?
3. Status on [EIP proposed](https://github.com/ethereum-cat-her

[2019-04-23 13:39] poojaranjan commented on #60
Previous meeting [notes](https://hackmd.io/SyvehR7kSdWpCS2GV4Y3oQ?both) for reference.

[2019-04-24 03:14] bmann commented on #60
Unfortunately I can’t make it tomorrow. Thanks for putting this together. Here are my comments:

1) Lots, still working on it. See new wiki page https://en.ethereum.wiki/eth1 and then summary of all talks here https://en.ethereum.wiki/eth1/coredevsberlin

Maybe another one in late July?

Danno has volunteered to move forward on Hardfork timing. Right now, likely to be 6 months for the next one, so

[2019-04-24 13:46] poojaranjan commented on #60
Thanks @bmann for updates. It looks good. We will revisit later.

[2019-04-24 16:43] bmann commented on #51
@MadeofTin I think the default is here --> https://ethereum-magicians.org/c/working-groups/ethereum-1-x-ring

And then each Working Group can either use the forum and create their own ring, or use a communication forum of their choice.

I'm assigning this to you if you want to pursue it further?

[2019-04-24 16:56] bmann opened #61 "Split livestream videos into individual videos per talk"
The CoreDevsBerlin wiki page is a summary of all the discussions https://en.ethereum.wiki/eth1/coredevsberlin

There are links to the full day livestream on the Ethereum YouTube, with timecode links to the individual talks.

It can be useful to have separate videos for each talk. Looking for someone to download the source files and then turn them into separate files for each talk.

EVM Evolution a

[2019-04-24 17:13] poojaranjan commented on #60
[EIP 1929](https://github.com/ethereum/EIPs/blob/16e64a488cd16403b884417799074aae77be41ab/EIPsForHardfork.md) is basically the extension to [EIP 233](https://eips.ethereum.org/EIPS/eip-233).

As per the last merge, EIP 233  gives the high level overview of EIP inclusion process for the HF. It says that, "_Anyone that wishes to propose a Core EIP for the hard fork should make a PR against the Meta

[2019-04-25 16:26] lrettig commented on #61
I think @Souptacular is working on this isn't he?

[2019-04-25 16:27] lrettig commented on #51
Seconded, FEM forum eth1x ring is probably the right place. I can imagine there might be *some* more research-y type things that could land on ethresear.ch.

[2019-04-25 16:27] lrettig commented on #59
It was proposed here: https://github.com/ethereum/pm/issues/95#issuecomment-486397389

[2019-04-25 17:00] lrettig commented on #55
We discussed this on the Ewasm team call today. I'll assign to myself.

[2019-04-25 17:26] lrettig commented on #57
@AlexeyAkhunov kicked this off here: https://ethereum-magicians.org/t/finality-gadget-for-ethereum1x-working-group/3177

[2019-04-25 17:26] lrettig commented on #40
Thanks @AlexeyAkhunov! CC @vbuterin, and closing unless something is still outstanding.

[2019-04-25 17:26] #40 closed

[2019-04-25 17:29] lrettig commented on #54
Cf. https://ethereum-magicians.org/t/fee-market-change-working-group-formation-and-my-proposed-amendment/3195. This is also possibly relevant for state rent since we may want to add a TTL field to the transaction to prevent replay attacks (although I believe this is not required in the most recent version of @AlexeyAkhunov's proposal).

[2019-04-25 17:32] lrettig commented on #53
There are several outstanding EIPs covering different versions of this. See also https://ethereum-magicians.org/t/evm-instruction-set-versioning/2286. @sorpaas did a presentation on this topic in Berlin a few days ago, we should link to his slides or video of his talk here.

[2019-04-25 17:33] lrettig commented on #48
I think this is pretty common knowledge by now. Are there any outstanding items here? If not I think we can close this.

[2019-04-25 17:34] lrettig commented on #47
This is being tracked from the Ewasm side here: https://github.com/ewasm/design/issues/188

[2019-04-25 17:54] sorpaas commented on #53
The slides are here ([source](https://git.that.world/talks/20190417-account-versioning.git/), [direct download link](https://git.that.world/talks/20190417-account-versioning.git/plain/presentation.pdf)). EIPs covered in the talk includes:

* EIP-1702: https://eips.ethereum.org/EIPS/eip-1702
* EIP-1707: https://github.com/ethereum/EIPs/pull/1707 (also [Issue #154](https://github.com/ethereum/EIPs/i

[2019-04-25 18:34] lrettig commented on #53
Thanks Wei! This is amazing!

[2019-04-25 18:34] lrettig commented on #53
@sorpaas is there a reason you haven't submitted any of these for Istanbul yet? What would that take? CC @axic @cdetrio

[2019-04-25 18:43] cdetrio commented on #53
What do you mean by "submit for Istanbul"?

[2019-04-25 18:47] lrettig commented on #53
It's not on the list of EIPs proposed for Istanbul: https://github.com/ethereum-cat-herders/PM/blob/master/Hard%20Fork%20Planning%20and%20Coordination/IstanbulHFEIPs.md or https://en.ethereum.wiki/roadmap/istanbul

[2019-04-25 19:23] bmann commented on #53
Since we have an update to 233, PRs to 1679 would be the next step. Everything else is nice to have for informative / tracking.

I’ll update the wiki to make that clear.

[2019-04-25 20:15] bmann commented on #57
Formed!

[2019-04-25 20:16] #57 closed

[2019-04-25 20:17] bmann commented on #48
@lrettig if this is State Fees - up to Alexey. I’m fine with aggressive closing.

[2019-04-25 20:17] #48 closed

[2019-04-25 20:18] bmann commented on #55
@lrettig the other thing is publish a roadmap. Can you / @axic / @cdetrio figure out who owns that and file a tracking issue.

[2019-04-25 20:21] #51 closed

[2019-04-25 20:24] bmann commented on #61
Yes uncut is done. I cut out EVM evolution — calling for help here is someone from community wants to do this.

Just leave as help wanted - would be good to broadcast that label every once in a while to get a flow of new volunteers.

[2019-04-26 04:20] #59 closed

[2019-04-26 14:22] bmann opened #62 "EIP1829 support for 512bit or just 256bit?"
From ACD https://github.com/ethereum/pm/issues/95, from @vbuterin

does the precompile for generic EC support 512 bit moduli?  or just 256? 

If 256 that makes it less interesting because it can't support bls 12 381 and hence eth2 light clients

[2019-04-26 14:24] gumb0 commented on #62
It says

[2019-04-26 15:08] sorpaas commented on #53
@lrettig @bmann I created PR https://github.com/ethereum-cat-herders/PM/pull/63. Let me know if there's anything else I need to do at this moment.

[2019-04-26 16:00] bmann commented on #53
@sorpaas sorry but it needs to be PRd into 1679 https://eips.ethereum.org/EIPS/eip-1679

@lrettig this list in ECH is causing confusion. I think tracking issues on the Istanbul GitHub project would be super useful but a Markdown file that isn’t in sync with 1679 is wasted effort.

[2019-04-26 16:08] bmann commented on #41
The list of Working Groups is maintained here https://en.ethereum.wiki/eth1

Closing this for now. Funding for WGs is still an open question but need to put this into a format that something can be completed.

[2019-04-26 16:08] #41 closed

[2019-04-26 16:12] bmann opened #64 "Champion wanted: BLAKE2b precompile"
From [ACD 60](https://github.com/ethereum/pm/issues/95), looking for a champion for Blake2b precompile

* Issue (needs to be turned into a real EIP PR) https://github.com/ethereum/EIPs/issues/152
* @virgil supports this https://ethereum-magicians.org/t/blake2b-f-precompile/3157, use that thread for more discussion

[2019-04-26 16:17] bmann commented on #32
Here's the discussion / voting https://ethereum-magicians.org/t/coredevs-eth1x-istanbul-meeting-july-poll-feedback/3197

[2019-04-26 16:21] bmann commented on #53
@lrettig @poojaranjan have a look at the project board here https://github.com/orgs/ethereum-cat-herders/projects/2 -- ideally this is something ECH can review on a weekly basis and keep things moving.

[2019-04-26 16:44] bmann commented on #64
@Souptacular is going to talk to @zooko about participating in this

[2019-04-26 16:50] bmann opened #65 "Make PR for ProgPOW into 1679"
[ACD 60](https://github.com/ethereum/pm/issues/95)

@shemnon is going to PR the ProgPow EIP 1057 https://eips.ethereum.org/EIPS/eip-1057 as Accepted status into 1679

[2019-04-26 16:53] bmann opened #66 "Champion wanted: EIP 689 Address Collision of Contract Address Causes Exceptional Halt"
From [ACD 60](https://github.com/ethereum/pm/issues/95), @axic brought up https://eips.ethereum.org/EIPS/eip-689 -- seems useful, needs someone to drive it.

[2019-04-26 20:06] bmann commented on #44
PR is here https://github.com/ethereum/EIPs/pull/1963 -- nice work @tintinweb

[2019-04-27 22:08] bmann commented on #53
OK, marking this as closed.

[2019-04-27 22:08] #53 closed

[2019-04-27 22:10] bmann commented on #62
I’m going to consider this closed, track EIP1829 for further progress.

[2019-04-27 22:10] #62 closed

[2019-04-29 16:11] poojaranjan commented on #60
Discussed in [ACD#60](https://github.com/ethereum/pm/issues/95)

[2019-04-29 16:11] #60 closed

[2019-04-30 16:08] DBrettRobertson commented on #39
Meeting Complete.

[2019-04-30 16:08] #39 closed

[2019-04-30 16:11] DBrettRobertson opened #67 "Ethereum Cat Herders Meeting #12 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, May 14th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Ethereum 2.0 Update
1. Updates on the action items from Constantinople post-mortem
1. Update on the Ethereum Development Portal designs/structure
1. Website Design
1.

[2019-04-30 16:31] bmann commented on #65
Done https://github.com/ethereum/EIPs/pull/1979

[2019-04-30 16:31] #65 closed

[2019-05-02 14:28] lrettig opened #68 "Shared Google account for herders"
@DBrettRobertson already set this up (ethereumcatherders@gmail.com). We'll communicate access information via a separate channel. Right now it's just used for access to the Zoom Pro account. We can also share the calendar with all of the herders.

[2019-05-02 17:46] poojaranjan commented on #67
updated link

[2019-05-02 19:30] bmann commented on #67
Does it make sense to turn these items into issues?

[2019-05-03 19:13] timbeiko commented on #19
Closed my original PR in favor of https://github.com/ethereum/EIPs/pull/1991

[2019-05-08 18:11] lrettig commented on #64
I'd be curious to hear from a professional how long this might take, how much work it might be, and what sort of budget might be needed. Happy to reach out to a few folks.

[2019-05-08 20:14] bmann commented on #64
It’s going to be work from now until October keeping on top of shepherding this forward. Call that 10 hours per week.

Plus writing code, test cases, speed tests, and assisting different clients in implementation.

And could be done as a precompile or as speeding up VM implementations. Speeding up VM implementations / adjusting gas costs is a bigger chunk of work but has larger pay off.

In either

[2019-05-08 21:07] lrettig commented on #64
Thanks Boris, this is helpful and seems reasonable. Very grateful to Gitcoin for initial funding here - we are now 0.5% of the way towards the goal :)

[2019-05-13 00:14] sorpaas opened #69 "EIP-1283 and EIP-1706 for Istanbul"
I heard there were still interests in getting EIP-1283 (plus some fixes) into mainnet, so I'm thinking about getting EIP-1283 and EIP-1706 into Istanbul.

[2019-05-14 13:30] BrentAllsop commented on #67
Is there a link to this meeting?
My partner, Jim Bennett and I would like to attend.

[2019-05-14 13:59] poojaranjan commented on #67
Meeting is rescheduled for next week. We will share the details on Gitter.

[2019-05-15 22:55] #11 closed

[2019-05-17 00:05] bmann opened #70 "Write a road to Istanbul, proposed EIPs post"
As suggested by Holger Drewes in ACD Gitter, write a blog post on the Ethereum blog about the road to Istanbul — including proposed EIPs in 1679 and what it will take to get them all the way to Accepted and then Included in the hard fork.

[2019-05-17 00:13] holgerd77 commented on #70
Will include me here for further notice, also @souptacular.

[2019-05-17 00:21] holgerd77 commented on #70
My time is hyper-limited due to baby duties atm, but if this comes to fruition I can propose to do the inner to-the-metal EIP summary part, since I have to approach this anyhow for EthereumJS planning.

[2019-05-17 13:34] poojaranjan commented on #30
Issue resolved.

[2019-05-17 13:34] #30 closed

[2019-05-17 13:40] poojaranjan commented on #21
Payment processed. Closing in favor of [#5](https://github.com/ethereum-cat-herders/funding/issues/5#issuecomment-487841922)

[2019-05-17 13:40] #21 closed

[2019-05-17 15:29] bmann commented on #70
I’ll probably get to this and we can post to EthMagicians and it can be cross posted to the blog of we can get permission.

One other thing I want to include and will likely keep up to date in the wiki is Working Group and/or individual champion point of contacts for each EIP.

[2019-05-17 18:07] holgerd77 commented on #70
Very cool! :+1: :smile:

[2019-05-18 16:40] timbeiko commented on #70
@bmann happy to review or assist with this as needed. Feel free to ping me if you need anything.

[2019-05-21 14:40] DBrettRobertson commented on #67
Meeting Held.

[2019-05-21 14:40] #67 closed

[2019-05-21 14:54] DBrettRobertson opened #71 "Ethereum Cat Herders Meeting #13 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, June 11th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople post-mortem
1. Open ECH Github [Issues](https://github.com/ethereum-cat-herders/PM/issues)
1. Funding/accounting/mult

[2019-05-21 15:38] MadeofTin commented on #66
I did some research. This is already implemented in the client codes. What is missing is testing and an update to the yellow paper so it is explicit in the spec.

Neither of these require a hard fork, but still worth pursuing. I am working with dimitry on the requirements for writing the tests.

[2019-05-21 21:18] lrettig commented on #66
@MadeofTin thanks for looking into this - it would be helpful to include links into a couple of the clients here to see where/how it's implemented.

[2019-05-22 07:41] WhiteRaBot17 commented on #64
I can do it. I'd need a week to get caught up to speed.

[2019-05-22 12:00] mkosowsk commented on #64
Is this still open @bmann @ceresstation?

I would love to throw my hat in the ring, I think I could write up an `Action Plan` that is quite compelling and deliver on it as well ☺️

[2019-05-22 19:43] WhiteRaBot17 commented on #64
@mkosowsk Fill out the gitcoin form

[2019-05-23 10:26] MadeofTin commented on #64
@mkosowsk Me and @carterpy have been working on this. Are you interested in Coding for it?

[2019-05-23 12:26] MadeofTin commented on #64
@WhiteRaBot17 would be good to coordinate as well. Where is a good place to reach out. Here is the current EIP proposal https://github.com/ethereum/EIPs/pull/2024

[2019-05-23 17:21] ceresstation commented on #64
Glad to see you all coordinating here. @MadeofTin @mkosowsk @carterpy @WhiteRaBot17 if you're all okay with working together on this and splitting the bounty we're happy to support that.

[2019-05-23 18:34] mkosowsk commented on #64
@MadeofTin thanks for the warm welcome :)

At this time, I think I will be coding on a different project(s) but let's keep in touch!

I will be watching this one closely :)

[2019-05-23 22:46] MadeofTin commented on #64
No problem @mkosowsk :)

@WhiteRaBot17 let me know how best to reach you. I left a message on Gitter for you

[2019-05-24 03:10] WhiteRaBot17 commented on #64
@MadeofTin @ceresstation I'd be happy to collaborate with others to push this through. Contacting @MadeofTin on gitter now.

[2019-05-25 02:12] bmann commented on #35
Yay! The Link was removed! Still have no idea who has control over the repo that runs the blog.

[2019-05-25 02:12] #35 closed

[2019-05-25 03:21] bmann commented on #33
HTTrack https://www.httrack.com/ or similar can be used to archive, can check into a GitHub repo and host via GHPages.

[2019-05-25 20:21] lrettig commented on #33
Relevant tweeter thread: https://twitter.com/hudsonjameson/status/1132121595705778179?s=20

[2019-05-29 15:28] poojaranjan commented on #71
Can we add an Agenda item - Open [Issues](https://github.com/ethereum-cat-herders/PM/issues) at ECH GitHub?

[2019-06-01 21:15] lrettig opened #72 "Eth2 Phase 2 Implementors' Call"
Hello,

@villanuevawill, myself and a few others would like to set up a monthly call for Eth2 Phase 2 implementors. It should be recorded and ideally livestreamed. We also need a public Telegram and/or Gitter channel for participants to communicate. Is this something we could help set up?

Thanks!

[2019-06-11 18:14] timbeiko commented on #12
Do we think this is still necessary? At the very least, it would be worth agreeing on what processes have to be defined. So far, everything seems to have ran fine-ish in a mostly ad-hoc way. What do you think @poojaranjan @lookfirst @ltfschoen ?

[2019-06-11 18:14] timbeiko commented on #24
@DBrettRobertson any updates? Should we close this issue and re-open new ones based on specific ETH 2.0 tasks? Thanks!

[2019-06-11 18:15] timbeiko commented on #28
@lrettig what is the status on this?

[2019-06-11 18:16] timbeiko commented on #29
@Souptacular you mentioned that Auryn helped with "some ways we can better make sure that people can easily stream to the EF YouTube channel in the future."

Is this documented anywhere?

Also, do you have an update on @bmann's questions above?

Thanks!

[2019-06-11 18:17] timbeiko commented on #31
@bmann it seems like there hasn't been much activity here. Do you think it makes sense to close and re-open in the future if there is a desire to move to Netlify? Thanks!

[2019-06-11 18:18] timbeiko commented on #32
@bmann as I understand it, this meting probably won't happen, correct?

If so, is it safe to say there won't be an in-person until possibly devcon? I've seen a thread on EthMagicians about organizing a [Council of Osaka](https://ethereum-magicians.org/t/council-of-osaka-date-and-place/3367). Perhaps it makes sense to merge this with ECH and AllCoreDevs.

[2019-06-11 18:20] timbeiko commented on #33
@jpitts @Souptacular do you think archiving this make sense? This is obviously an EF decision. If not, should we just close this issue?

[2019-06-11 18:22] timbeiko commented on #34
I opened https://github.com/ethereum-cat-herders/PM/pull/73 . @lrettig can you +1?

[2019-06-11 18:23] timbeiko commented on #43
@bmann has there been an update here?

[2019-06-11 18:25] timbeiko commented on #45
@MadeofTin is this issue (and related ones) still relevant now that EIPs have been filed for Istanbul?
Specifically:
* https://github.com/ethereum-cat-herders/PM/issues/46
* https://github.com/ethereum-cat-herders/PM/issues/47

Thanks!

[2019-06-11 18:25] timbeiko commented on #50
@madeoftin, do you know if there is a proposal for a unified format floating around anywhere? Thanks!

[2019-06-11 18:25] timbeiko commented on #52
@lrettig any update here? Is this still relevant? Thanks!

[2019-06-11 18:27] timbeiko commented on #54
@MadeofTin @lrettig now that this working group has been kicked off, does it make sense to close this issue?

[2019-06-11 18:27] timbeiko commented on #55
@lrettig is this still relevant? If not, do you have a link to the digestible spec we can share here before closing? Thanks!

[2019-06-11 18:28] timbeiko commented on #56
@MadeofTin do you know of anywhere we can point to for more details? thanks!

[2019-06-11 18:33] timbeiko commented on #61
@bmann is there any work left to do on this?

[2019-06-11 18:35] timbeiko commented on #66
@MadeofTin friendly ping :-)

[2019-06-11 18:35] timbeiko commented on #68
@lrettig do we need to keep this issue open? How should herders get access to the account? Thanks!

[2019-06-11 18:36] timbeiko commented on #69
@sorpaas now that this conversation seems to have moved to AllCoreDevs, do you think it makes sense to close this issue? Thanks!

[2019-06-11 18:37] timbeiko commented on #70
@bmann did this ever happen? It seems somewhat captured by https://en.ethereum.wiki/roadmap/istanbul but it may be valuable to have in a more digestible format.

[2019-06-11 18:43] sorpaas commented on #69
Yeah sure!

[2019-06-11 18:43] #69 closed

[2019-06-11 20:14] CPSTL commented on #28
@timbeiko **Quick update**: we have not yet made a formal decision regarding the potential move of the ProgPow grant funds to a separate multisig. This is due to the fact that the CLR Round 2 had not closed & funds were not transferred over yet. However, CLR round 2 has now closed, so this can be decided on the next call or over chat!

[2019-06-11 20:31] timbeiko commented on #28
Cool, let's discuss this on the next call. Thanks for the update! cc: @DBrettRobertson for the agenda.

[2019-06-12 01:31] lookfirst commented on #12
Most of the points above are still questions in my mind. Ad-hoc is lacking a sense of professionalism, that I would hope a group like this would have.

[2019-06-12 03:35] ltfschoen commented on #12
I'd love to jump into this conversation again more seriously from August.

[2019-06-12 13:40] timbeiko commented on #12
Cool, let's leave this open, then. It may make sense to have an agenda item on a call somewhere around August. I know there are plans for a ECH f2f at Berlin Blockchain Week, so it may be a good thing to discuss in person as well :-)

[2019-06-12 13:41] timbeiko commented on #71
@DBrettRobertson re: the Devcon Workshop, can we link [this document](https://docs.google.com/document/d/1IGPx2xGcdChUPdExWKCC5ejr8X_wIxf_NeIHmtpB5mQ/edit?usp=sharing) in the next agenda for people to review prior to the meeting? Thanks!

[2019-06-12 20:56] poojaranjan commented on #12
Also adding [Contribution Guideline](https://github.com/ethereum-cat-herders/PM/blob/e74acbc4bab14d79667cf68f063a3dc543f46f16/Contribution_Guidelines.md) for community to participate.

@ltfschoen That would be really nice.

@timbeiko Agreed. IMHO we should start inviting people relevant to issue to ECH calls for discussion in order to close them.

[2019-06-12 21:47] DBrettRobertson commented on #71
Meeting held on the 11th June 2019.

[2019-06-12 21:47] #71 closed

[2019-06-12 21:49] DBrettRobertson opened #75 "Ethereum Cat Herders Meeting #14 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, June 25th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: https://www.youtube.com/watch?v=CG9UPmq1PEk

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople post-mortem
1. Open ECH Github [Issues](https://github.com/ethereum-cat-herde

[2019-06-13 10:42] bmann commented on #61
No has bothered to cut the talks into individual files. Time codes are linked on the wiki. Assume this is stale and no one cares / sees value. Closing!

[2019-06-13 10:42] #61 closed

[2019-06-13 14:26] timbeiko commented on #75
Re: #8, this is a draft proposal for the devcon workshop which we'll have to submit a few days after this call. Please have a look prior to the meeting: https://docs.google.com/document/d/1IGPx2xGcdChUPdExWKCC5ejr8X_wIxf_NeIHmtpB5mQ/edit#

[2019-06-13 14:52] timbeiko commented on #34
Fixed by https://github.com/ethereum-cat-herders/PM/pull/73?

[2019-06-13 14:52] #34 closed

[2019-06-14 16:33] lrettig commented on #28
There's still some accounting to be done here. Cf https://github.com/gitcoinco/web/issues/4362

[2019-06-15 16:40] lrettig commented on #68
Let's discuss on the next meeting (#75)

[2019-06-15 16:40] lrettig commented on #75
To add: communicating access to shared accounts including Google and Zoom

[2019-06-15 16:42] lrettig commented on #56
Ewasm is working on this in https://github.com/ewasm/design/issues/32 (as well as a few related issues)

[2019-06-15 16:45] lrettig commented on #55
This is the de facto spec for Ewasm for Eth 1.x (as implemented on the Ewasm testnet): https://github.com/ewasm/design/blob/master/eth_interface.md. But things are very up in the air at the moment as work is transitioning to the Eth 2 execution engine. I don't think we'll see another spec here for quite some time. Not sure if @MadeofTin was envisioning something else here. I'm going to close this

[2019-06-15 16:45] #55 closed

[2019-06-15 16:47] lrettig commented on #54
I believe this is being covered by the fee market change working group which @afdudley is on top off. Nothing pending here that I'm aware of.

[2019-06-15 16:47] #54 closed

[2019-06-15 16:49] lrettig commented on #52
Ewasm folks especially @axic had a hand in several of the [Istanbul EIPs](https://eips.ethereum.org/EIPS/eip-1679) but AFAIK we're not targeting any Ewasm specific EIPs for Istanbul. Closing.

[2019-06-15 16:49] #52 closed

[2019-06-15 16:49] lrettig commented on #50
I think @ledgerwatch is on top of this

[2019-06-15 16:51] lrettig commented on #43
CC @winsvega @ledgerwatch

[2019-06-15 16:52] lrettig commented on #32
This is my understanding as well.

[2019-06-15 16:54] lrettig commented on #29
@cdetrio, @vbuterin, @souptacular, @5chdn, and myself

Hudson put together a document and shared it with me before - will let him share it here.

[2019-06-15 19:41] bmann commented on #32
No idea. I am stepping back from organizing anything to do with Core. I said I’d support @shemnon in doing an online meeting in July https://ethereum-magicians.org/t/coredev-july-online-meeting/3333

This can be closed, and a new issue or thread should be started on other plans to meet.

[2019-06-15 19:41] #32 closed

[2019-06-15 19:43] bmann commented on #43
This was me posting issues from CoreDevsBerlin. The Testing Working group is here https://ethereum-magicians.org/t/ethereum-1-x-testing-working-group/3268

Let’s consider this closed.

@lrettig stop randomly tagging people. The goal is to either assign an issue or close it.

[2019-06-15 19:43] #43 closed

[2019-06-16 18:19] winsvega commented on #50
The one I use you coukd see with testeth -- --statediff

[2019-06-17 05:14] bmann opened #77 "Redirect old Ethereum wiki to new eth.wiki"
Looks like @virgil updated the Ethereum wiki to run WikiJS 2 — which is great, see https://eth.wiki

I would request installing redirects on the old site https://en.ethereum.wiki to the new site, which will prevent tons of broken links.

I believe NameCheap does free path redirects with DNS hosting. Let me know if I can assist.

[2019-06-17 13:55] timbeiko commented on #50
Thanks @winsvega. Given that the work has been kicked off, do you think it makes sense to close this issue? If so, can you provide a link where people can follow the latest development?

[2019-06-17 13:55] timbeiko commented on #29
Cool, once that document is shared, if it can be, then we can close this. We can follow up with Hudson on the next call if he's there.

[2019-06-17 13:56] timbeiko commented on #75
Can we follow up on this issue on the call if Hudson is there? https://github.com/ethereum-cat-herders/PM/issues/29

[2019-06-17 13:57] timbeiko commented on #56
Thanks for the update @lrettig. Closing for now as people can refer to your link if they want to follow the work. Feel free to re-open if you see a need to.

[2019-06-17 13:57] #56 closed

[2019-06-17 15:21] lrettig commented on #56
Strictly speaking, based on the label, I think this task was about the EVM Evolution project, not Ewasm, but that project doesn't seem to be getting cycles at the moment so let's keep this closed.

[2019-06-18 14:05] mhluongo commented on #64
Folks, @pdyraga and I (with support from the http://github.com/keep-network team) can champion this. We're in touch with @MadeofTin as well as @str4d and @zookozcash on the Zcash side. We're focused on an updated `F` EIP and `geth` implementation, first, then implementing @MadeofTin 's [open EIP](https://github.com/ethereum/EIPs/pull/2024) that's specific to `blake2b`.

There are some open questio

[2019-06-20 16:34] lrettig opened #79 "Staking in dxDAO"
dxDAO is launching in a few days and it's in a bootstrap period right now where you can stake ETH or other tokens to gain reputation when the system goes live. It's a pretty exciting DAO and I think we should study it and participate in it to learn from it. We currently have 29,000 DAI in our multisig. I propose that we stake it for 30 days to gain reputation points in the new DAO. Here are the co

[2019-06-20 17:06] timbeiko commented on #79
@lrettig Interesting proposal. A few questions:
* Where are the 29,000DAI from? The ProgPow audit?
* What is the goal of having the new Safe account? To create a proper ECH "reputational" account?
* Given the smart contract bug risk, does it make sense to only stake part of the funds?

[2019-06-20 18:26] lrettig commented on #79
Most of it is, the rest is just the ordinary funds we collect via the Gitcoin subscription.

Yes, since reputation is tied to an account and cannot be transferred, we want it tied to an account that we can share, like the multisig. My understanding is that this is precisely what the Gnosis Safe is designed for.

This risk always exists. I think @Souptacular needs to weigh in on this.

For sure. We

[2019-06-20 19:09] timbeiko commented on #79
Thanks! Let's add this to the agenda for the next call and act fast afterwards if we have agreement. It'd be great to have you on the call, @Souptacular, if you are available :-)

[2019-06-20 19:09] timbeiko commented on #75
Other item to add to the agenda: https://github.com/ethereum-cat-herders/PM/issues/79

[2019-06-21 05:40] Souptacular commented on #28
CLR funds have been added. Let's reopen this discussion.

[2019-06-21 05:43] Souptacular commented on #29
Here is the doc! Comments on it are left open.

https://docs.google.com/document/d/1dF_Drs56ErV6wJgFmbzpdN-cINshKCsB61D92NS2JDg/edit

Idk where it should go permanently so people can reference it.

[2019-06-21 05:45] Souptacular commented on #33
I would love to archive it. When I get time I will try HTTrack as @bmann suggested.

[2019-06-21 05:48] Souptacular commented on #77
I pinged @virgil about this.

[2019-06-21 07:31] virgil commented on #77
Fixed.

[2019-06-21 10:46] wschwab commented on #79
I'm concerned about the ethics of staking funds specifically given for the audit. I feel like funds given towards a specific task should only be spent on that task. As for the other funds, though, I'd say it's fair play.

[2019-06-21 10:51] lrettig commented on #79
I agree with this - and I'm not proposing spending, only staking. We'd get the funds back :)

(Yes, there is always a risk associated with a new DAO, but the code in question has been audited. We don't have to stake 100% of the funds.)

[2019-06-21 10:52] lrettig commented on #77
I see this now at the old URL:
![image](https://user-images.githubusercontent.com/3316532/59917852-59086780-9423-11e9-85ea-4656673131a1.png)

[2019-06-21 10:52] lrettig commented on #29
Maybe we can move it into an ECH github repo or wiki?

[2019-06-21 11:32] lrettig commented on #79
Gas prices are likely to shoot up quite high in the final day or two of the staking period - it would be better to make this decision earlier, if at all possible. Maybe we could do a vote on the Aragon DAO or something? :)

[2019-06-21 12:00] wschwab commented on #79
I should've been more specific - I mean that I don't think the funds should be used in any way other than their allocated purpose. Staking, even if it will be returned, is not what the funds were explicitly given to the Cat Herders for. I personally feel like we're banking with other people's funds, even if it's for non-financial investments (using the funds to invest in reputation).

[2019-06-21 12:32] timbeiko commented on #79
IMO it's probably better to pay a few dollars extra in gas over doing this in a rushed / non-consensus way. Clearly, at least @wschwab has concerns, and I think we want to align before taking that decision, even if it costs a few more gwei 😅

[2019-06-21 12:38] timbeiko commented on #75
And one more 😁https://github.com/ethereum-cat-herders/PM/issues/28

[2019-06-21 12:40] timbeiko commented on #29
As much as I'd like to see the ECH Repo become the default place for issues, given that this specifically relates to calls whose agenda are in `ethereum/pm`, perhaps having it as a markdown file there with the contents from this doc makes the most sense. What do you think?

[2019-06-21 14:23] brianventuro commented on #79
It would be extremely inappropriate to use funds that we contributed for the ProgPoW audit for anything but the ProgPoW audit. That is not money that we allocated to be used in testing your staking model.

[2019-06-21 14:27] lookfirst commented on #79
Those funds are intended to pay for auditing that was supposed to already have started. There hasn't been clear communication *at all* about the status of the audit.

This idea borders on embezzlement of funds, which is totally inappropriate! Who cares if you get it back, this isn't your money to use for these purposes!

[2019-06-21 14:29] sneg55 commented on #79
+1. It sounds unfair that you going to use the money raised for audit(while audit not even started)

[2019-06-21 14:47] virgil commented on #77
Yeah making those redirections work with SSL, for free, was nontrivial.  So I satisfied myself to simply having http work.  If the consensus is that we *really* want SSL redirections to work, I can find a way to do it.

[2019-06-21 17:07] donamelo commented on #79
you have proven that the ethereum democracy is not existing. a group of technocrates doing what they want and calling it decentralised.

[2019-06-21 17:37] jean-m-cyr commented on #79
Only additional proof... the technocracy has been fairly obvious for some time now!

[2019-06-22 09:42] lrettig commented on #29
Move `ethereum/pm` to `ethereum-cat-herders` :)

[2019-06-23 13:25] virgil commented on #77
Solved.

[2019-06-23 16:13] lrettig commented on #77
Great thanks! Closing

[2019-06-23 16:32] bmann commented on #77
This is not solved. @virgil can you please do path redirects? E.g. /roadmap/Istanbul redirects to the new page rather than the home page.

Google domains does this for free.

Let me know if you need help and/or transfer the domain to me and I’ll do it.

[2019-06-24 09:28] consciousEntity commented on #79
@lrettig - what is your link to DxDAO? Why this one, of the many experimental "investment" DAOs?

[2019-06-24 11:18] virgil commented on #77
fixed.

On Mon, Jun 24, 2019 at 12:32 AM Boris Mann <notifications@github.com>
wrote:

[2019-06-24 14:14] bmann commented on #77
Confirmed. Thanks @virgil!

[2019-06-24 19:21] lrettig commented on #79
No link! It's the only interesting dao I'm aware of that has staking happening now! Please let us know if there are others we've missed.

[2019-06-25 09:08] consciousEntity commented on #79
DyDx, Compound, MakerDAO, and Dharma quickly come to mind as smart-contract based platforms that allow interest to be earned for lending out cryptocurrency, and should fit your definition of a staking DAO. /r/ethtrader, I'm sure, has plenty of other money-earning schemes.

[2019-06-25 12:34] lrettig commented on #79
Hi @consciousEntity, thanks for the feedback and ideas. I think you may be misunderstanding dxDAO -- please take a look at its whitepaper here: https://github.com/gnosis/dx-daostack/blob/master/dxdao-whitepaper-v1.pdf. It's not a for-profit project and no "interest" is paid. Staking/locking funds does not pay any interest or tokens, it just gives you a share of (non-transferrable) "reputation" tha

[2019-06-25 14:15] #77 closed

[2019-06-25 15:42] timbeiko commented on #29
Just opened https://github.com/ethereum/pm/pull/108 and accidentally already merged the change on this repo, [here](https://github.com/ethereum-cat-herders/PM/commit/69f915f312c69a4685d2548e7c807aeec3e2428f)

[2019-06-25 15:42] #29 closed

[2019-06-25 17:26] DBrettRobertson commented on #75
Meeting held.

[2019-06-25 17:26] #75 closed

[2019-06-25 17:35] DBrettRobertson opened #80 "Ethereum Cat Herders Call #15 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, July 9th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Livestream Link: TBA

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople post-mortem
1. Funding/accounting/multisig
4.1 Update on account of ECH funding.
1. [DevCon Workshop Proposal](https:/

[2019-06-25 19:28] consciousEntity commented on #79
@lrettig - Apologies, I had not looked into dxDAO in detail. Does this not highlight a fundamental weakness with this type of application - a treasurer-type entity (such as the trusted keyholders for a multisig) can earn significantly more "reputation" than their real-world status would imply, by misusing funds they are managing for other purposes (and which do not belong to them)?

[2019-06-25 19:49] timbeiko commented on #79
From today's call, a decision was made to *not* stake using the ProgPow funds, but to try staking with the rest of the ECH funds, which had been donated to the Cat Herders without any specific mandate.

[2019-06-25 19:50] timbeiko commented on #80
@DBrettRobertson you can remove the Devcon Workshop agenda item, as the deadline will have passed before the next call.

[2019-06-26 01:27] lookfirst commented on #79
Where did the funds come from? Asking for a friend.

[2019-06-26 13:08] timbeiko commented on #79
@lookfirst from Gitcoin donations, listed here: https://gitcoin.co/grants/30/ethereum-all-core-devs-community-project-managem-2?tab=contributors

[2019-06-27 02:37] lrettig commented on #79
Just submitted a tx to the multisig to transfer 100 DAI from it to the Gnosis safe @DBrettRobertson and I set up: https://etherscan.io/tx/0x023b0e5b13c28713b9c03f93b24e1010fa2917266af1885c6fc327894ac369d6. Needs one more confirmation to process.

[2019-07-06 00:51] lrettig opened #81 "Cannot access http://www.devcon.org"
I noticed that, while http://devcon.org (without www, with or without https) works, if you add the www, it doesn't.

@Souptacular @jpitts is this something one of you could address?

Thanks

[2019-07-06 00:53] lrettig commented on #79
@DBrettRobertson got this to work using a new Gnosis safe account (https://etherscan.io/address/0x05bff578e1c11657e0d8b859f1e848c2b92cd65c) that Brett and I set up. (Gnosis Safe does not support "team mode" yet so for now it appears the only way to share one is by sharing the private key.)

[2019-07-06 02:22] lookfirst commented on #81
Someone forgot the A record for www.

[code]

[2019-07-13 21:27] timbeiko commented on #19
And https://github.com/ethereum/EIPs/pull/1991 has just been merged 🎉! closing this issue.

[2019-07-13 21:27] #19 closed

[2019-07-26 13:14] timbeiko opened #83 "Ethereum Cat Herders Call #16 - Agenda"
## Date and Time

Proposed time is 14:00 UTC on Tuesday, July 30th, 2019.

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: https://www.youtube.com/watch?v=N4kJd1546Cw

## Agenda

1. Update on ProgPow Audit
1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople post-mortem
1. Funding/accounting/multisig
    1. Update on account of ECH fun

[2019-07-26 13:14] timbeiko commented on #80
Closing in favor of https://github.com/ethereum-cat-herders/PM/issues/83

[2019-07-26 13:14] #80 closed

[2019-07-31 18:20] #70 closed

[2019-07-31 18:21] timbeiko commented on #79
@lrettig should we close this issue?

[2019-07-31 18:21] #64 closed

[2019-07-31 18:22] timbeiko commented on #50
Closing due to inactivity, feel free to re-open if needed.

[2019-07-31 18:22] #50 closed

[2019-07-31 18:22] timbeiko commented on #47
@lrettig should we close this as a duplicate of your ewasm issue?

[2019-07-31 18:22] #44 closed

[2019-07-31 18:23] timbeiko commented on #31
Closing due to inactivity, feel free to re-open if needed.

[2019-07-31 18:23] #31 closed

[2019-07-31 18:23] timbeiko commented on #24
Closing due to inactivity, feel free to re-open if needed.

[2019-07-31 18:23] #24 closed

[2019-08-05 14:38] timbeiko opened #84 "Ethereum Car Herders Meeting #17 - Agenda"
## Date and Time

Tuesday, 13 August 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople po

[2019-08-05 14:39] timbeiko commented on #83
Closed in favor of https://github.com/ethereum-cat-herders/PM/issues/84

[2019-08-07 20:13] poojaranjan commented on #84
Adding link to agenda item
3. Funding/accounting/multisig
   i. Update on account of [ECH funding](https://github.com/ethereum-cat-herders/funding/issues)

[2019-08-09 20:38] #83 closed

[2019-08-09 21:02] lrettig commented on #47
👍

[2019-08-09 21:02] #47 closed

[2019-08-09 21:03] lrettig commented on #79
I think we need to claim the stake back!

[2019-08-11 23:42] bmann opened #85 "ethereum.org has incorrect DNS settings"
The root domain does not redirect to www. Visiting https://ethereum.org or http://ethereum.org results in site not found.

The actual website is at https://www.ethereum.org

Fix: set DNS to redirect the root. Depends on the DNS registrar how to do this.

What happened? Who changed it? How can we  make this sure it doesn’t happen again?

Cc @jpitts @souptacular

[2019-08-13 00:25] lrettig commented on #85
https://ethereum.org and http://ethereum.org work for me right now.

[2019-08-13 02:04] bmann commented on #85
@lrettig got fixed in the meantime. Sure would like to know what happened and be confident that it won’t happen again.

[2019-08-13 02:04] #85 closed

[2019-08-13 15:37] DBrettRobertson commented on #84
Meeting Complete.

[2019-08-13 15:37] #84 closed

[2019-08-13 15:39] DBrettRobertson opened #86 "Agenda: Ethereum Cat Herders Meeting #18"
## Date and Time

Tuesday, 27 August 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. EEA Devcon Workshop
1. Hard Fork Coordination Update
1. Updates on the action items

[2019-08-20 06:53] timbeiko commented on #86
@DBrettRobertson could we add an action item about the EEA's devcon workshop? They will be on the call to discuss. Thanks!

[2019-08-20 07:13] DBrettRobertson commented on #86
Done bud. Have added them as the first agenda item so that they don't have to sit through the whole meeting.

[2019-08-21 06:26] timbeiko commented on #86
Another thing to add 😅: helping to organize the [pre-devcon EthMagicians council](https://ethereum-magicians.org/t/council-of-osaka-date-and-place/3367/16).

[2019-08-28 00:36] DBrettRobertson commented on #86
Meeting concluded.

[2019-08-28 00:36] #86 closed

[2019-08-28 00:36] DBrettRobertson opened #87 "Agenda: Ethereum Cat Herders Meeting #19"
## Date and Time

Tuesday, 10 September 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. Hard Fork Coordination Update
1. Updates on the action items from Constantinople

[2019-09-02 17:58] virgil commented on #81
Fixed.

[2019-09-02 18:16] timbeiko commented on #81
Thanks!

[2019-09-02 18:16] #81 closed

[2019-09-10 15:14] DBrettRobertson commented on #68
Close issue - @lrettig and @DBrettRobertson can grant access to the account as required.

[2019-09-10 15:14] #68 closed

[2019-09-11 22:31] DBrettRobertson commented on #87
Meeting finished.

[2019-09-11 22:31] #87 closed

[2019-09-11 22:34] DBrettRobertson opened #89 "Ethereum Cat Herder Meeting #20: Agenda"
## Date and Time

Tuesday, 24 September 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. Hard Fork Coordination Update
   1. EIP-1884 and EIP update
1. Funding/accountin

[2019-09-20 16:10] poojaranjan commented on #89
Funding/accounting/multisig
* edit [PM multisig accounting](https://docs.google.com/spreadsheets/d/1PMCKHrkD2oGNXnDi6chy9DOFbpXgDRqpNz75PXSzoj4/htmlview#gid=0) and close [Issues](https://github.com/ethereum-cat-herders/funding/issues)
* Discuss https://github.com/ethereum-cat-herders/funding/issues/12#issuecomment-531107836

[2019-09-23 20:15] timbeiko commented on #89
Re `Hard Fork Coordination Update`, I think the #1 thing would be to get agreement on the Istanbul blog post and plan to share it shortly after the call.

[2019-09-26 06:56] DBrettRobertson commented on #89
Meeting Held.

[2019-09-26 06:56] #89 closed

[2019-09-26 07:09] DBrettRobertson opened #91 "Ethereum Cat Herder Meeting #21: Agenda"
## Date and Time

Tuesday, 29 October 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. DevCon5 Update
    1. EF <> ECH (Ken)
1. Hard Fork Coordination Update
   1. Gener

[2019-10-02 13:58] timbeiko opened #93 "Add Tim Beiko to ECH Multisig"
Based on the [Aragon Vote #10](https://mainnet.aragon.org/#/ethereumcatherders/0xe837d5bacfddf6fd0fab88fa314681d7926c7399), no one opposed having me added to the multisig.

My address is `0x10F5d45854e038071485AC9e402308cF80D2d2fE`.

[2019-10-03 17:02] lrettig commented on #93
Confirmed this wallet address with @timbeiko on Gitter, Telegram, Twitter, and Aragon (see images below). Submitted add owner tx: https://etherscan.io/tx/0x33f1c348a66586111c2efae5a6a9dcf59f150f3035a88e674319aa38a55eeed3.

@Souptacular @CPSTL could you please double-check everything and confirm this tx? It should be tx 31 in the multisig.

Thanks!

![image](https://user-images.githubusercontent.co

[2019-10-03 17:39] CPSTL commented on #93
Thanks, Lane. The transaction has been confirmed and Tim has been added: https://etherscan.io/tx/0x485a7993cef3aa559d9e9f35e263355fd0f7c6b70a8a10ba2d73ede023370bc0. Before confirming, I doubled checked with @timbeiko via Twitter, Telegram and referenced the images above as well.

[2019-10-04 01:25] CPSTL opened #94 "Collecting Funds from Moloch"
Last week, I set up the transaction (Tx 30) on the [multi-sig](https://etherscan.io/address/0x68085e7f88e90fa9247489c83fab30b177ebccb3) to ragequit 16 of the 17 shares the Ethereum Cat Herders were granted from Moloch (leaving 1 share to stay in as a member). This will provide us with 16 WETH.

**Transaction set up process:**
- Added the moloch contract address as the destination [address](https:/

[2019-10-13 03:17] #93 closed

[2019-10-15 06:19] edsonayllon commented on #79
If you staked correctly (you up-staked a proposal to pass which passed, or down-staked a proposal to fail which failed), you should be able to redeem using the current UI. It's the star symbol in the upper right corner. It should return any GEN staked, as well as reward you with reputation in the DAO.

[2019-10-22 21:48] timbeiko commented on #94
Here is a link to the ECH multisig, for simplicity: https://etherscan.io/address/0x68085e7f88e90fa9247489c83fab30b177ebccb3

[2019-10-25 17:53] timbeiko commented on #94
I approved the transaction with Charles over videoconference. We got the funds 🎉 !

Final transaction: https://etherscan.io/tx/0x3dd9db62c211498229a08c3ab2a9f2c9855699a519685eb2fbe843dffb669008

[2019-10-25 17:53] #94 closed

[2019-10-25 17:53] timbeiko commented on #91
About Moloch, Charles and I managed to get the funds sent to the ECH multisig. More details here: https://github.com/ethereum-cat-herders/PM/issues/94

[2019-10-25 19:05] timbeiko commented on #91
Another thing we should probably discuss is reaching out to Goerli about the node updates. It was brought up on ACD today that ECH had comited to this: https://twitter.com/TimBeiko/status/1187746425377083399

[2019-11-01 04:24] DBrettRobertson opened #95 "Ethereum Cat Herder Meeting #22: Agenda"
## Date and Time

Tuesday, 12 November 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. Hard Fork Coordination Update
   1. General Update
1. Community Initiatives Brain

[2019-11-01 04:24] DBrettRobertson commented on #91
Meeting held 29 October 2019.

[2019-11-01 04:24] #91 closed

[2019-11-12 13:58] wschwab commented on #95
It's right up against the clock, but I'd like to add two items based on the Tuesday meeting last week (EF):
Update on possibly helping with EIPs
Update on aiding general ecosystem onboarding process

[2019-11-12 14:19] timbeiko commented on #45
Closing due to the work on State Fees/Rent being paused in favor of Stateless Clients. See [this](https://medium.com/@akhounov/on-the-state-rent-and-pivot-to-stateless-ethereum-ab4d967ff630) for details.

[2019-11-12 14:19] #45 closed

[2019-11-12 14:19] timbeiko commented on #46
Closing due to the work on State Fees/Rent being paused in favor of Stateless Clients. See this for details.

[2019-11-12 14:19] #46 closed

[2019-11-12 14:20] timbeiko commented on #12
@ltfschoen do you still want to move this initiative forward?

[2019-11-12 14:21] timbeiko commented on #28
Given that we've paid for the ProgPow audit and now have a 2 of 4 multisig, I'll close this issue for now. We can re-open more relevant new ones if needed.

[2019-11-12 14:21] #28 closed

[2019-11-12 14:24] timbeiko commented on #72
@lrettig @villanuevawill any updates on this?

[2019-11-12 14:24] timbeiko commented on #79
@lrettig can you create a multisig txn to reclaim the stake?

[2019-11-15 14:57] lrettig commented on #72
I'm no longer directly involved in this initiative. Thanks for following up, @timbeiko. Okay w me to close this issue.

[2019-11-16 07:28] ltfschoen commented on #12
@timbeiko sure, I'm just short of time and not across everything. I'd need to pair with someone more across everything

[2019-11-17 20:52] #72 closed

[2019-11-18 21:43] lrettig commented on #79
Sure, I'll give it a shot

[2019-11-19 01:31] CPSTL opened #96 "Ethereum Cat Herder Meeting #23: Agenda"
## Date and Time

Tuesday, 26 November 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. ECH-ETH Magician collaboration

1. Hard Fork Coordination Update

1. EIP Improvem

[2019-11-19 12:59] wschwab commented on #96
One of the things that came up on the EF call was documentation of the ECH process - writing down how we do things. The idea was that it could help foster more communication. Can we bring that up?

[2019-11-19 14:54] timbeiko commented on #96
@wschwab IIRC @poojaranjan has done some work on this.

[2019-11-19 14:55] timbeiko commented on #96
Last call to review the [EthCC Workshop proposal](https://docs.google.com/document/d/1ErKyuxWtu1mw_mRVO5luu00K08m4ou5KEAAdz0Ifgwc/edit?usp=sharing). I'll submit it after the next call to give everyone a chance to review one more time.

[2019-11-19 16:32] poojaranjan commented on #96
@wschwab @timbeiko
Yes, we have some documentation available at [ECH GitHub](https://github.com/ethereum-cat-herders/PM) like
- [Contribution Guideline](https://github.com/ethereum-cat-herders/PM/blob/master/Contribution_Guidelines.md)
- [Meeting notes process and template](https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md)
- [ECH Task list](https://github.com/ethere

[2019-11-20 06:58] Souptacular commented on #96
@timbeiko can you open up the document for comments? It is currently closed.

[2019-11-20 06:58] Souptacular commented on #96
I'd like to add the following to the agenda:

- Documenting/removing inactive cat herders from the private chat.
- Adding James Hancock to the chat because he is the new HF coordinator and having direct line to us is beneficial.

[2019-11-20 14:14] timbeiko commented on #96
@Souptacular my bad. Link updated!

[2019-11-20 23:04] lrettig commented on #95
Closing in favor of #96

[2019-11-20 23:04] #95 closed

[2019-12-03 02:38] DBrettRobertson commented on #96
Meeting happened November 26, 2019.

[2019-12-03 02:38] #96 closed

[2019-12-03 05:16] DBrettRobertson commented on #33
This has been closed on advice from @Souptacular that this is now being looked into and managed by the Ethereum Foundation.

[2019-12-03 05:16] #33 closed

[2019-12-03 06:28] DBrettRobertson opened #99 "Ethereum Cat Herder Meeting #24: Agenda"
## Date and Time

Tuesday, 10 December 2019 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. ECH-ETH Magician collaboration

1. Hard Fork Coordination Update

1. EIP Improvem

[2019-12-10 14:25] timbeiko commented on #79
@lrettig friendly ping :-)

[2019-12-10 14:26] #66 closed

[2019-12-10 14:27] #42 closed

[2019-12-10 16:41] edsonayllon commented on #79
Here's the code that Alchemy, the platform dxDAO is in, uses to redeem a proposal. It may be helpful for creating the transaction (I'm assuming here a proposal was opened to stake, but I may be wrong).

[code]

You can see the [full source](https://github.com/daostack/alchemy/blob/dev/src/actions/arcActions.ts) to dig deeper.

Please, disregard this if it doesn't help.

[2019-12-12 15:55] poojaranjan commented on #99
Meeting concluded.

[2019-12-12 15:55] #99 closed

[2019-12-27 04:00] MadeofTin opened #102 "Update Necessary documentation from the Besu HotFix"
Note to address the documentation that lead to a bug fixing release of Besu. Implementation of SELF_BALANCE was not self-evident and clarifying would lead to client implementations not running into the same problem.

[2019-12-30 08:25] MadeofTin opened #103 "Add an option to Ethernodes that accounts for "In process""
When doing outreach on Muir glacier, a common responses are,

 - "We are aware, and have someone working on it. We will get back to you when the upgrade has finished"
 - "We are aware, and have someone scheduled to update at X date"

It would be great to be able to reference them as being "In process". Meaning they have confirmed they will upgrade. Something to remember for next time, so I am putt

[2020-01-02 09:52] MadeofTin opened #104 "Update Forkmon and publish Code Properly"
https://gitter.im/ethereum/AllCoreDevs?at=5e0dafceeaa2cd096fdea7ac

Update Forkmon
Add Additional Clients
Move it to the right repo.

Additional notes in the ACD Gitter.

[2020-01-07 10:37] Souptacular opened #105 "Ethereum Cat Herder Meeting #25: Agenda"
## Date and Time

Tuesday, 7 January 2020 [14:00 UTC](https://savvytime.com/converter/utc-to-germany-berlin-united-kingdom-london-ny-new-york-city-ca-san-francisco-china-shanghai-japan-tokyo-ny-new-york-city/2pm)

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1.  ECH Newsletter working group update

1. ECH-ETH Magician collaboration (see [this

[2020-01-07 11:57] anettrolikova commented on #105
2. Adding link with ideas for EthCC that Magicians would like to collaborate on with ECH https://ethereum-magicians.org/t/call-for-action-ethcc-paris-2020/3849/4

[2020-01-07 13:56] Souptacular commented on #105
@anettrolikova updated the agenda with your link.

[2020-01-09 14:22] thesachinmittal commented on #105
Can the `host` add the youtube link of this call, so that I can make notes of it.

[2020-01-21 00:14] poojaranjan opened #106 "Ethereum Cat Herder Meeting #26: Agenda"
## Date and Time

Tuesday, 28 January 2020 at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. ECH-ETH Magician collaboration (see [this link](https://ethereum-magicians.org/t/call-for-action-ethcc-paris-2020/3849/4))

2. [EIP Improvement Process](https://github.com/ethereum-cat-herders/EIPIP) Meeting

3. [ECH 2020 Roadmap](https://d

[2020-01-21 00:15] poojaranjan commented on #105
Meeting concluded.

[2020-01-21 00:15] #105 closed

[2020-01-26 21:57] thesachinmittal commented on #105
https://github.com/ethereum-cat-herders/PM/pull/107

[2020-01-28 13:02] anettrolikova commented on #106
I would like to add to the agenda Magicians x ECH collaboration

Magicians are looking for a note taker for EthCC for 3-hour meeting (Council, ETH1.x Stateless Ethereum session).

[2020-01-28 15:13] wschwab commented on #106
Some points from after the meeting:

- We suspect there's some confusion about the schedule, so we didn't set a date for the next meeting
- There was an idea raised to have either the Ethereum Foundation or ECH release an official statement about the wave of account jacking happening on YouTube, but was left largely unresolved
- The current plan for migrating old DAI funds seems acceptable, and ma

[2020-02-03 23:26] poojaranjan opened #108 "Ethereum Cat Herder Meeting #27: Agenda"
## Date and Time

Tuesday, 04 February 2020 at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. ECH-ETH Magician collaboration (note-taker for EthCC for 3-hour meeting))

2. ECH videos processing

3. ECH Website domain renewal (Charles)

4. Consensus 2020 event

5. [ECH 2020 Roadmap](https://docs.google.com/presentation/d/16FL5uuUFLd

[2020-02-04 14:23] Souptacular commented on #103
This is done.

[2020-02-04 14:24] Souptacular commented on #103
Actually let's get clarification about if this is done from @MadeofTin.

[2020-02-04 18:36] poojaranjan commented on #106
Meeting concluded.

[2020-02-04 18:36] #106 closed

[2020-02-06 23:36] lrettig commented on #79
I spent a while on this today. I was able to boot up the gnosis safe account, and use it to log into Alchemy:

![image](https://user-images.githubusercontent.com/3316532/73987744-5eadb180-490f-11ea-9d6f-b32bb1f26757.png)

However when I click on the star symbol, there's nothing to redeem:

![image](https://user-images.githubusercontent.com/3316532/73987756-6e2cfa80-490f-11ea-8d98-beb00e73e2e6.png)

[2020-02-06 23:44] lrettig commented on #79
It appears that the right interface for doing this is https://dxdao.daostack.io/stake-for-your-vote. However, this UI does not appear to recognize the Gnosis Safe browser extension, and I can't find any way to use the Gnosis Safe mobile app as a web3 browser:

![image](https://user-images.githubusercontent.com/3316532/73988422-b00a7080-4910-11ea-9089-a9256d90eedf.png)

[2020-02-06 23:45] lrettig commented on #79
There are some more related docs here: https://github.com/gnosis/dx-docs/blob/master/source/dxDAO.md

[2020-02-07 01:22] edsonayllon commented on #79
@lrettig Oh, ok. I asked the devs at DAOstack, and asked in the dxDAO chat. I'll post here if I get a response. Meanwhile, you can try connecting Gnosis on your desktop using the mobile Gnosis Safe app with Wallet Connect. https://walletconnect.org/

[2020-02-07 05:29] edsonayllon commented on #79
From Doug Kent, who led dxDAO development on DAOstack:

[2020-02-17 19:40] poojaranjan opened #109 "Ethereum Cat Herder Meeting #28: Agenda"
## Date and Time

Tuesday, 18 February 2020 at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

1. ECH videos processing

2. [EIP Improvement Process](https://github.com/ethereum-cat-herders/EIPIP) Meeting

3. Ethereum Foundation YouTube jacking

4. Consensus 2020 event

5. Idea: Pay for a part-time ECH coordinator in chief

6. Migratio

[2020-02-19 18:29] lrettig opened #110 "Add more herders to YouTube account"
Per @timbeiko:

[2020-02-19 19:58] lrettig commented on #110
I added @timbeiko’s and @poojaranjan19’s email addresses to the Zoom account. zoom account/user management/permissions are quite complex and I can’t quite understand it - we can add unlimited “basic” users but not “on license” users without paying more - no clue what the difference is. i set it up so that these users should be able to see recorded content, but i can’t see it from my own account. s

[2020-02-19 19:58] #110 closed

[2020-03-02 15:06] poojaranjan commented on #108
Closed in favor of #109

[2020-03-02 15:06] #108 closed

[2020-03-02 16:01] poojaranjan opened #112 "Ethereum Cat Herder Meeting #29: Agenda"
## Date and Time

Tuesday, 3 March 2020 at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. ECH meetings video processing and meeting notes
- Ethereum 2.0
- Note-taker for EIPIP meetings
- Guidelines for [meeting notes](https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md)

### 2. [EIP Improvement Proc

[2020-03-02 16:01] poojaranjan commented on #109
Meeting concluded. Closing in favor of #112

[2020-03-02 16:01] #109 closed

[2020-03-16 16:12] wschwab commented on #112
I'd like to mention my EthCC writeup, seeing if anyone wants to give another look, and propose it gets published on the ECH Medium, if that's okay.

[2020-03-29 19:59] poojaranjan opened #114 "Ethereum Cat Herder Meeting #30: Agenda"
## Date and Time

March 31, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. New members introduction

### 2. ECH Herder-in-chief
(Next steps)
- Official onboarding date
- Budget & funding options: [Ecosystem Support Program](https://docs.google.com/document/d/1Ufi2geeK5uEOzwEowHdNRHRYVBmDEKT17xMmgBUMZ1k/edit#), Moloch D

[2020-03-29 19:59] poojaranjan commented on #112
Meeting concluded. Closing in favor of #114

[2020-04-03 14:29] lrettig opened #115 "Renew Zoom pro account?"
It expires on May 1, i.e., at the end of this month. The basic renewal price is USD $149.90 (there's a chance we may qualify for some sort of non-profit discount). Do we want to renew it? If so, I'm happy to leave it on my personal credit card, or to let someone else pay.

[2020-04-08 18:51] Souptacular commented on #115
I think we should renew. Open to other opinions though.

[2020-04-08 19:50] timbeiko commented on #115
+1.

[2020-04-08 20:13] poojaranjan commented on #115
Yeah, I think it's helpful. We should renew it.

[2020-04-09 15:09] lrettig commented on #115
Okay. Does someone else want to pay for it, or shall I leave it on my personal credit card?

[2020-04-09 15:26] timbeiko commented on #115
@lrettig probably simplest to have your CC and we pay you back in DAI. Does that work?

[2020-04-13 16:40] poojaranjan opened #116 "Ethereum Cat Herder Meeting #31: Agenda"
## Date and Time

April 14, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Planning Berlin upgrade

### 2. EIP Improvement Process meeting
- EIP [Procedure Survey](https://docs.google.com/forms/d/e/1FAIpQLSeadXscoQgrKznUOAEB_jSzNNFKHWDEFJxKH1LpDsDsC6mXpw/viewform) update
- EIP content migration

### 3.  Ethereum Cat He

[2020-04-15 05:58] edsonayllon commented on #79
You can contact Doug on Telegram (dkent) or Gitter (dkent600) with more questions, to sort this out.

[2020-04-21 13:03] Souptacular opened #118 "Converting SAI to DAI/USDC"
I'm going ahead with this plan of taking out all of the SAI, converting it all to DAI, then converting 1/3 of that to USDC.

The multisig tx #74 has been generated to withdraw 5,364.66 SAI to 0xFbb5bA9B6A35E292C628a1b2809c6058c7Ac04b2 (an address I control)from our multisig address 0x68085E7f88e90Fa9247489C83fAB30b177Ebccb3. On the Gnosis safe website our SAI is listed as DAI because we haven't up

[2020-04-21 15:20] timbeiko commented on #118
@Souptacular confirmation sent: https://etherscan.io/tx/0xdf9f6ad65cd385e4e40d4ad4ac1891fc14dbcd58ed6e30224c04735cd2240b27

[2020-04-27 00:50] poojaranjan commented on #114
Meeting concluded. Closing in favor of #116

[2020-04-27 00:50] #114 closed

[2020-04-27 01:07] poojaranjan opened #119 "Ethereum Cat Herder Meeting #32: Agenda"
## Date and Time

April 28, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Berlin upgrade
* [PR to Berlin Meta](https://github.com/ethereum/EIPs/pull/2589)
* [ECH Website](https://www.ethereumcatherders.com)
* EIPs curation/summary

### 2. ECH substack mailing

### 3. EIP Improvement Process meeting
- EIP [Procedure Su

[2020-04-27 01:11] poojaranjan commented on #116
Meeting concluded. Closing in favor of #119

[2020-04-27 01:11] #116 closed

[2020-04-28 13:44] gcolvin commented on #119
I'd like today to see some immediate action items for helping with the ProgPoW debacle.  (My apologies for not attending in the past.  I've been on the run from the virus, busy with the technical details of ProgPoW, and trying to earn a living.)

As an EIP-1057 champion and Core Dev I was appalled to learn that what appeared to be an official recording of our decisions was not.  Including a clear

[2020-05-01 21:06] xBruceTheGoose commented on #119
I'd be interested to find ways I'm able to contribute as a cat-herder as well as network with people in the cat-herder community. If there is time available I'd also like to discuss the potential of hosting VR meetups for cat-herders and the BUIDL network while we're all stuck at home.

Additionally, I'd like to offer a variety of educational resources for anyone who would find them beneficial; wh

[2020-05-07 16:08] poojaranjan opened #121 "Ethereum Cat Herder Meeting #33: Agenda"
## Date and Time

May 12, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Introduction - new community member(s)

### 2. ECH update Substack mailing

### 3. [1559 design bounty ](https://docs.google.com/document/d/12yjO2nJzK3_DmQYZLZ8ox1bIZkAznqDZkFrUcxh9E7M/edit#)

### 4.  Events & conferences
- [Consensus 2020](https:

[2020-05-07 19:36] poojaranjan commented on #121
Comment from the previous agenda https://github.com/ethereum-cat-herders/PM/issues/119#issuecomment-622568562

[2020-05-12 14:37] Souptacular commented on #118
On April 23rd I completed the trading between SAI and DAI/USDC
Current DAI: 3386.599 DAI
Current SAI: 1723.796 USDC
Total Stablecoins: 5,110.395

Started with 5364.66 SAI
Total Lost in Trades: 254.265  SAI

Address: 0xFbb5bA9B6A35E292C628a1b2809c6058c7Ac04b2
https://etherscan.io/address/0xfbb5ba9b6a35e292c628a1b2809c6058c7ac04b2

We are looking to upgrade our Gnosis safe next.

[2020-05-21 13:13] poojaranjan commented on #119
Closed in favor of #122

[2020-05-21 13:13] #119 closed

[2020-05-21 13:58] poojaranjan opened #123 "Ethereum Cat Herder Meeting #34"
## Date and Time

May 26, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Email account for Cat Herders

### 2. Upgrading Cat Herders multisig wallet

### 3. ECH update
- Substack mailing
- Medium blog

### 4. Ethereum Cat Herders - Promotion and Positioning (in the Ethereum community) initiatives
- Placing [Community P

[2020-05-21 14:03] poojaranjan commented on #121
Closed in favor of #123

[2020-05-21 14:03] #121 closed

[2020-05-26 06:13] edsonayllon commented on #123
We should probably make a decision about upgrading the multisig.

[2020-05-26 10:10] poojaranjan commented on #123
@edsonayllon added.

[2020-05-26 13:44] Souptacular commented on #118
I have sent 100 USDC and 100 DAI to the new Gnosis Safe located at 0x02Cb3C150BEdca124d0aE8CcCb72fefbe705c953.

[2020-05-26 16:53] timbeiko commented on #118
@Souptacular should we try and pay out some notes with that 500 DAI to be sure everything works smoothly?

[2020-05-29 12:14] Souptacular commented on #118
@timbeiko we sucessfully paid 400 DAI worth of notes so the new multi-sig safe is well tested.

I have successfully sent the remainder of the DAI and USDC (2,886.5995 DAI and 1,673.797 USDC) I had in my possession to the new Gnosis multi-sig.

https://etherscan.io/tx/0x32d61181b7ef52f6e71a5bc212e4132c04ae707c82b96774d566c8efa4338e51
https://etherscan.io/tx/0xf14bfbdb497794ac594e52d0ba8ee4ea780d862

[2020-06-03 13:29] poojaranjan opened #124 "Ethereum Cat Herder Meeting #35"
## Date and Time

June 09, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Email account for Cat Herders

### 2. Onboarding new members

### 3. Promotion and Positioning -  Placing [Community Promotion Ads](https://ethereum.meta.stackexchange.com/a/649/27270) at Ethereum Stack Exchange

### 4. Cat Herders funding - Molo

[2020-06-03 13:35] poojaranjan commented on #123
Closed in favor of #124

[2020-06-03 13:35] #123 closed

[2020-06-05 18:37] MadeofTin commented on #102
It should be something that is updated in the Yellow paper. Or somewhere.

The specification wasn't clear which lead to confusion by a client team. Not a big thing, but worth putting in a list somewhere of Nice to haves for the yellow paper when someone gets around to updating the specifications.

[2020-06-05 18:38] MadeofTin commented on #103
This one will be great when Berlin happens. But can wait until then.

[2020-06-06 03:10] edsonayllon commented on #124
Can we add the Ethereum Twitch channel to the agenda?

[2020-06-22 13:50] poojaranjan opened #126 "Ethereum Cat Herder Meeting #36"
## Date and Time

June 23, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: **TBA**

## Agenda

### 1. Email account for Cat Herders

### 2. ECH as a DAO

### 3.  Ethereum Twitch channel

### 4. Cat Herders funding - Moloch DAO & ESP

### 5.  1559 design bounty

### 6. On-boarding new members

### 7. Discuss and close the ECH GitHub Issues/PRs
- [

[2020-06-22 20:38] poojaranjan commented on #124
Added to Agenda for meeting 36.

[2020-06-22 20:38] poojaranjan commented on #124
Closed in favor of #126

[2020-06-22 20:38] #124 closed

[2020-06-23 14:19] Souptacular commented on #12
Closing issue per meeting decision. Please create a new issue if you feel that it isn't complete.

[2020-06-23 14:19] #12 closed

[2020-06-23 14:24] Souptacular commented on #103
Wait until Berlin is closer to ask Peter from Ethernodes about this.

[2020-06-23 14:26] Souptacular commented on #115
Closing. Zoom is renewed and paid for.

[2020-06-23 14:26] #115 closed

[2020-07-02 19:51] poojaranjan opened #128 "Ethereum Cat Herder Meeting #37"
## Date and Time

July 07, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. Email account for Cat Herders

### 2. EIPIP meeting
- Emergency communication group
- EIPIP project board
- Postmortem template

### 3.  A proposal - ECH discord channel

### 4. ECH as a DAO

### 5

[2020-07-17 18:14] poojaranjan opened #129 "Ethereum Cat Herder Meeting #38"
## Date and Time

July 21, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. Email account for Cat Herders

### 2. Emergency communication group

### 3.  How Cat Herders can help in client diversity? Ref: [Alexey's post](https://ethereum-magicians.org/t/measuring-ethereum-c

[2020-07-17 18:15] poojaranjan commented on #126
Closed in favor of #128

[2020-07-17 18:15] #126 closed

[2020-07-17 18:16] poojaranjan commented on #128
Closed in favor of #129

[2020-07-17 18:16] #128 closed

[2020-07-31 19:32] poojaranjan opened #131 "Ethereum Cat Herder Meeting #39"
## Date and Time

Aug 04, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. Eth2 Medalla testnet launch

### 2. Email account for Cat Herders

### 3.  Ethereum Important Installation [Survey](https://docs.google.com/forms/d/1NvufX79nqqc7ijf-WtN2Lfw_9umCY_zhlTzoeml9QvI/edit)

[2020-08-04 02:35] BrentAllsop commented on #131
Number 10, above, is a link to the notes for meeting 38, which doesn't exist yet.
[Meeting 37](https://github.com/ethereum-cat-herders/PM/blob/master/All%20Ethereum%20Cat%20Herder%20Meetings/Meeting%20037.md).

[2020-08-04 03:18] poojaranjan commented on #131
link is fixed now!

[2020-08-04 13:36] alita-moore commented on #131
I think this falls under malaoch ECH funding, but I looked into the cost of a hackathon. Generally speaking, we could probably do one with ~50-100 people for 10-20k usd. I think there's no reason to do one with less people. The driving factor would be to foster interest in ethereum by inviting students. The greatest cost of an event is consistently travel, so it would be best to do it in a city li

[2020-08-04 13:42] alita-moore commented on #131
I looked into the discord, twitter, gitter bridge. This can be done with [matrix bridges](https://matrix.org/bridges/) which used the open source [repo](https://github.com/matrix-org/matrix-appservice-irc).

Notably, this would require a dedicated server (presumably a raspberry pi would do?), but do we have any other pre-dedicated servers or is anyone willing to host one with good uptime? I person

[2020-08-06 02:46] Souptacular commented on #118
We have one last transaction in our old multi-sig that someone needs to approve so we can move 9 DAI left in it. https://wallet.gnosis.pm/#/wallet/0x68085E7f88e90Fa9247489C83fAB30b177Ebccb3

After that we can officially close this issue and use the new gnosis safe.

[2020-08-13 19:55] poojaranjan opened #133 "Ethereum Cat Herder Meeting #40"
## Date and Time

Aug 18, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.
YouTube Recording Link: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. ECH discord channel

### 2. An EIP specific session - [Peep an EIP](https://docs.google.com/document/d/155cUPfd8WiAqgo8Bx2mjznwnYvJW6oPRiUnsa_P7894/edit#heading=h.2nz582ydogz9)

### 3.  Emergency co

[2020-08-14 16:49] alita-moore commented on #133
I'd like to talk about my break-off discussion groups proposal

[2020-08-16 00:53] poojaranjan commented on #129
Closing in favor of #131

[2020-08-16 00:53] #129 closed

[2020-08-16 00:54] poojaranjan commented on #131
Closing in favor of #133

[2020-08-16 00:54] #131 closed

[2020-08-18 12:29] wschwab commented on #133
I'm going to need leave early, unfortunately. The items I have the most to do with are 1 (Discord), 4 (Peep an EIP), and 8 (Emergency Comms), so I would appreciate it if we could discuss those first.

[2020-08-18 12:40] poojaranjan commented on #133
No worries. We can discuss those as first few items.

[2020-08-27 16:30] poojaranjan opened #135 "Ethereum Cat Herder Meeting #41 Agenda"
## Date and Time

Sep 01, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. 1559 fee market changes

### 2.  [Break-off discussion groups proposal](https://github.com/ethereum-cat-herders/PM/issues/133#issuecomment-674164923)

### 3. ECH discord channel
- a deadline for migratio

[2020-08-27 19:59] poojaranjan commented on #133
Closing in favor of #135

[2020-08-27 19:59] #133 closed

[2020-09-08 12:38] Souptacular commented on #118
We need to transfer the 0.14 ETH out of the wallet, but the transaction displays an error message. I messaged someone from the Gnosis team to work with me on it.

[2020-09-08 14:25] timbeiko commented on #118
I got an error too last night when trying to execute the transaction.

[2020-09-10 18:22] poojaranjan opened #137 "Ethereum Cat Herder Meeting #42 Agenda"
## Date and Time

Sep 15, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. 1559 fee market changes

### 2.  Breakout-room update

### 3. ECH discord channel
- ProgPOW channel
- Group titles and rules to the ECH / member

### 4.  Emergency communication group

### 5. [Peep an EI

[2020-09-14 17:14] poojaranjan commented on #135
Closing in favor of #137

[2020-09-14 17:14] #135 closed

[2020-09-15 10:00] wschwab commented on #137
Do Axic's proposed changes to the EIP process need to be discussed here, or should the conversation be kept to EIPIP?

[2020-09-18 18:16] poojaranjan commented on #104
https://forkmon.ethdevops.io/ is up.

[2020-09-25 21:58] poojaranjan opened #139 "Ethereum Cat Herder Meeting #43 Agenda"
## Date and Time

Sep 29, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. Spadina tesnet launch and ECH collaboration

### 2. 1559 fee market changes

### 3. ECH discord channel
- ProgPOW channel
- Group titles and rules to the ECH / member

### 4.  Breakout room update

### 5

[2020-09-28 10:13] poojaranjan commented on #137
Closing in favor of #139

[2020-09-28 10:13] #137 closed

[2020-10-12 17:37] poojaranjan opened #140 "Ethereum Cat Herder Meeting #43"
## Date and Time

October 13, 2020, at 14:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. Zinken testnet launch

### 2. EIP-1559 fee market change
- Latest updates
- Outreach by Cat Herders

### 3. EIPIP meeting update

### 4. Breakout room update

### 5. Peep an EIP

### 6.  Emergency co

[2020-10-12 17:37] poojaranjan commented on #139
Closing in favor of #140

[2020-10-12 17:37] #139 closed

[2020-10-26 10:41] poojaranjan opened #142 "Ethereum Cat Herder Meeting #44"
## Date and Time

October 27, 2020, at 15:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. ECH group meeting time
- 1400 UTC (present)
- 1500 UTC
- 1600 UTC

### 2. EIP-1559 fee market change
- Outreach by Cat Herders

### 3. Meeting updates
- EIPIP
- Eth2 meeting
- All core dev

### 4. Pe

[2020-10-26 10:42] poojaranjan commented on #140
Closing in favor of #142

[2020-10-26 10:42] #140 closed

[2020-11-09 15:06] poojaranjan opened #144 "Ethereum Cat Herder Meeting #45"
## Date and Time

November 10, 2020, at 15:00 UTC

## Location

Zoom: The link has been sent to attendees.

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. ECH website

### 2. Community call for Account Abstraction

### 3. Peep an EIP

### 4. Meeting notes updates
- EIPIP
- All core dev
- Eth2 meeting
- 1559 implementers' meeting

### 5.  Emergency com

[2020-11-09 15:08] poojaranjan commented on #142
Closing in favor of #144

[2020-11-09 15:08] #142 closed

[2020-11-10 14:59] wschwab commented on #144
Sorry to add this so close to the meeting, but I'd like to start a conversation about working on engaging ECH members who haven't been participating much, and increasing participation in the meeting in general.

[2020-11-10 15:39] Souptacular commented on #104
It's updated now. Closing.

[2020-11-10 15:39] #104 closed

[2020-11-19 16:21] poojaranjan opened #146 "Ethereum Cat Herder Meeting #46"
## Date and Time

November 24, 2020, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/playlist?list=PL4cwHXAawZxogBKmFamsYqUch8xEu55y2

## Agenda

### 1. Eth2 Phase 0 genesis

### 2. Participate in clr.fund

### 3. ECH website

### 4. Meeting notes updates
- EIPIP
- All core dev
- Eth2 meeting
- B

[2020-11-19 16:43] poojaranjan commented on #144
Closing in favor of #146

[2020-11-19 16:43] #144 closed

[2020-12-03 23:26] #102 closed

[2020-12-07 17:53] poojaranjan opened #148 "Ethereum Cat Herder Meeting #47"
## Date and Time

December 08, 2020, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/playlist?list=PL4cwHXAawZxogBKmFamsYqUch8xEu55y2

## Agenda

### 1. ECH domain & updating [ECH information at ethereum.org](https://github.com/ethereum/ethereum-org-website/pull/2075).

### 2. Progress on new ECH

[2020-12-08 12:50] poojaranjan commented on #146
Closing in favor of #148

[2020-12-08 12:50] #146 closed

[2020-12-08 14:58] BrentAllsop commented on #148
We should get the Cat Herders added to this Ethereum.org community page (How to get involved)

https://ethereum.org/en/community/

[2020-12-20 15:44] poojaranjan opened #150 "Ethereum Cat Herder Meeting #48"
## Date and Time

December 22, 2020, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. [Get the Cat Herders added to this Ethereum.org community page (How to get involved)](https://github.com/ethereum-cat-herders/PM/issues/148#issuecomment-7406706

[2020-12-21 15:05] poojaranjan commented on #148
Created a PR to add the Discord invite link https://github.com/ethereum/ethereum-org-website/pull/2159

[2020-12-21 15:08] poojaranjan commented on #148
Closing in favor of #150

[2020-12-21 15:08] #148 closed

[2020-12-22 14:34] Souptacular commented on #118
It turns out that the UI in Gnosis Wallet was saying we had 0.14 ETH when we had ~0.138 and it was rounding up. Once I fixed it to be the correct amount it worked! We can finally close this issue and ignore the old Gnosis Wallet unless there are ever any airdrops.

[2020-12-22 14:34] #118 closed

[2020-12-22 14:48] Souptacular commented on #79
Will approach this again after the holidays.

[2021-01-04 18:22] poojaranjan opened #152 "Ethereum Cat Herder Meeting #49"
## Date and Time

January 05, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. [Review 2020: The Ethereum Cat Herders](https://medium.com/ethereum-cat-herders/review-2020-the-ethereum-cat-herders-70164265c8d9)

### 2. New community particip

[2021-01-04 18:23] poojaranjan commented on #150
Closing in favor of #152

[2021-01-04 18:23] #150 closed

[2021-01-12 02:11] poojaranjan opened #155 "Upgrading the ECH website"
To continue providing updates to the Ethereum community, the ECH group has decided to update the current [Ethereum Cat Herders website](https://www.ethereumcatherders.com/).  This issue will keep track of the progress of the task.
- [x] Create [requirement document with template for proposal submission](https://docs.google.com/document/d/1Dl_tuvUz7lNX7a1k3YA-fWCxZjSjc19Ty3SI3aJwlic/edit#) and [pro

[2021-01-16 22:43] poojaranjan opened #156 "Ethereum Cat Herder Meeting #50"
## Date and Time

January 19, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1.  [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. ECH contribution to contents at Ethereum.org

### 3. Ethereum network u

[2021-01-17 19:35] BrentAllsop commented on #156
If there is time, I'd like to ask the following.
What are high end salary ranges for core developers?
Where are good places to post a job offering that will get worldwide exposure within the Ether Developpement Community?
Of course, does anyone know of a suitable candidate?

[2021-01-19 15:22] Souptacular commented on #155
For @alita-moore and @shanelightowler:

Please post your proposals in this GitHub issue.

My questions:

1. (Referencing Shane's document, but Alita can also provide an answer here for her's)
Does "branding" include a new logo/other assets?

2. What is the server type we are getting for $25 a month?

3. What is the format/process for posting new pages (Markdown, WYSIWYG, etc.)?

[2021-01-19 17:57] shanelightowler commented on #155
Please see the proposal from Unvetica attached.
[Unvetica Quote for ECH Website.pdf](https://github.com/ethereum-cat-herders/PM/files/5837678/Unvetica.Quote.for.ECH.Website.pdf)

[2021-01-19 18:00] shanelightowler commented on #155
In response to your queries @Souptacular

1. Does "branding" include a new logo/other assets?
This is a great question. Yes, you can expect a logo. I have attached a .PDF example of what the ECH's can expect from us. This includes a main-logo design, in addition to a 'social media' version, fonts, colors, and alternative logo designs. You will have full ownership and rights to the works' produced

[2021-01-19 20:35] alita-moore commented on #155
nice @shanelightowler ! gotta say, I really like that idea, I think it makes more sense then hardcoding something. Not that my proposal isn't still on the table, though ;)

[2021-01-20 15:53] michaelgiesen commented on #155
Hello All, just popping in to say hello - and potentially answer any questions regarding our proposal.

[2021-01-28 17:05] poojaranjan commented on #155
@michaelgiesen @shanelightowler

Thanks for sharing Unvetica proposal for the development of [Ethereum Cat Herders Website](https://www.ethereumcatherders.com/).  I've got a few questions:
- Will it be possible to update the page with a Pull Request created by someone from the community?
- If not, what would be the process to update the page without it being dependent on an individual holding the

[2021-01-28 17:06] poojaranjan commented on #155
@alita-moore If you're still up for it, do you mind sharing your proposal here for reference?

[2021-01-28 17:07] alita-moore commented on #155
Sure here's a link https://docs.google.com/document/d/1WqqiGRe4EweKcE-lMQ4FFQHPUH9AS1c3FpGclIhNBlo/edit?usp=drivesdk

[2021-01-28 17:25] michaelgiesen commented on #155
@poojaranjan These are great questions. Please find the answers below, if you need additional detail please let me know and I'll be happy to expand.

Yes and No. From a blog post perspective we'll be able to integrate PR's so that posts and text-based updates can be updated and published to the site. For front-end edits, that'll have to be completed via the WordPress Administrative GUI. The ECH te

[2021-01-31 23:12] poojaranjan opened #158 "Ethereum Cat Herder Meeting #51"
## Date and Time

Feb 02, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1.  [ECH contribution to contents at Ethereum.org](https://github.com/ethereum-cat-herders/EIPIP/issues/48#issuecomment-767968085)
- [EIP resource moved to ethereum.org

[2021-02-01 16:49] poojaranjan commented on #156
closing in favor of #158

[2021-02-01 16:49] #156 closed

[2021-02-01 16:49] poojaranjan commented on #152
closing in favor of  #156

[2021-02-01 16:49] #152 closed

[2021-02-03 18:54] poojaranjan commented on #155
@michaelgiesen Thanks for joining us in the ECH meeting, yesterday. I hope you have some visibility of the website page that Cat Herders are looking for. Do you think the month-to-month hosting charge ($25) can be avoided and we could use free hosting by GitHub as we have it now for our present website?
Ref: https://github.com/ethereum-cat-herders/ethereum-cat-herders.github.io

[2021-02-03 23:04] michaelgiesen commented on #155
@poojaranjan

No problem at all, it was great to talk to everyone about the project. To be clear the $25 charge for hosting is only if unvetica hosts the site. The ECH's are more than welcome to find alternative solutions for hosting - however since I would be developing on top of a WordPress-based platform, whatever hosting provider you solicit will need to have some sort of database capabilities

[2021-02-04 09:35] shanelightowler commented on #155
I have used the wordpress hosting offering in the past for wordpress sites/blogs and it was pretty easy to manage.

[2021-02-09 15:20] shanelightowler commented on #155
Hi all, following on from the previous ECH call, there was an action to re-evaluate the proposed ECH website prototype/brief to see if there might be a need to change of tack given the decisions made re: ethereum.org website where ethereum.org is the primary source of truth, linking out to specialist resources where necessary... where does that leave the Cat Herders content? This is a decision for

[2021-02-15 16:42] poojaranjan opened #160 "Ethereum Cat Herder Meeting #52"
## Date and Time

Feb 16, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/87350675396?pwd=SEpiQ0ZHQ1NHL0RlQnNXVVNtRjAvZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

### 1. [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. EIP GitHub bot action

### 3. New opportunities to contribute

### 4. Events

[2021-02-15 18:02] poojaranjan commented on #158
Closing in favor of #160

[2021-02-15 18:02] #158 closed

[2021-02-15 22:36] alita-moore commented on #160
Just because there's a chance I miss the meeting tomorrow here's an update regarding the EIP bot. In short: things are going well, I have a direction and have made progress in translating the Python bot to Javascript (for use in Github Actions).

I have such far investigated and decided on using a custom Github action for this. Specifically, that means I'll be creating a custom actions plugin for

[2021-03-01 15:28] poojaranjan opened #162 "Ethereum Cat Herder Meeting #53"
## Date and Time

Mar 02, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. Berlin upgrade blogpost

### 3. Events & community

[2021-03-02 14:32] poojaranjan opened #163 "Notes for Ethereum 1559 community call"
**Task** - Document notes for [Ethereum 1559 community call](https://youtu.be/EdXhL6VR0mU)

**Bounty** - 150 DAI

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

Create a [Pull Request here](https://github.com/ethereum-cat-herders/PM/pulls) to submit the notes.

[2021-03-02 15:26] shanelightowler commented on #163
Happy to do this @poojaranjan !

[2021-03-10 19:04] poojaranjan opened #165 "Ethereum Cat Herder Meeting #54"
## Date and Time

Mar 16, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. EIP bot future ideas/scope

### 3. Events & commun

[2021-03-15 15:18] poojaranjan commented on #163
PR: https://github.com/ethereum/pm/pull/272

[2021-03-15 19:08] poojaranjan commented on #160
Closing in favor of #162

[2021-03-15 19:08] #160 closed

[2021-03-15 19:08] poojaranjan commented on #162
Closing in favor of #165

[2021-03-15 19:08] #162 closed

[2021-03-15 19:11] poojaranjan commented on #103
Berlin upgrade - https://www.ethernodes.org/berlin

[2021-03-17 03:35] alita-moore commented on #165
I was unfortunately sick today so I wasn't able to make the meeting. But here's a quick update on the EIP Bot:

- the bot is done (mostly) and in the phase of integrating with the current workflow. This may take a little bit because of needing to wait on others with certain repo privileges
- I have created [an issue](https://github.com/ethereum-cat-herders/EIPIP/issues/59) on the EIPIP repo for ac

[2021-03-26 15:06] poojaranjan opened #167 "Ethereum Cat Herder Meeting #55"
## Date and Time

Mar 30, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. Ethereum community collaboration & meetings
- Coll

[2021-03-26 17:27] michaelgiesen commented on #155
Hello All,

We're developing the site so that there will be a version of the website live for the next ECH meeting (03/30/21). Specifically the Home/Landing page that will have full functionality, and then a "streaming" page which will allow ECH meetings to broadcast (stream) their meetings to.

With that being said, I want to start preparing the logistics for this. Mainly, where is the TLD hosted

[2021-03-26 17:44] poojaranjan commented on #165
Closing in favor of #155

[2021-03-26 17:44] #165 closed

[2021-03-29 16:53] timbeiko commented on #167
I'd like to add something to the agenda, @poojaranjan 😄

We will start to have recurring Merge meetings every two weeks to discuss the technical progress on the project. See: https://github.com/ethereum/pm/blob/master/Merge/merge.md

Would it be possible for ECH to take notes for them? We should pay the same amount as AllCoreDevs given the calls are as long and as technical.

[2021-03-29 16:59] poojaranjan commented on #167
@timbeiko this sounds great! I am sure, we can schedule notes taking for that meeting.

Added to the agenda under meeting notes.

[2021-03-30 13:43] anettrolikova commented on #167
Hey Herders,

I would love to add to agenda following questions on behalf of Ethereum Magicians ✨
1) Do you guys - ECH have plans for this year ?
2) What kind of activities are you doing except Peeps EIP and taking notes of Core Devs call ?
3) Is there a way how we - Magicians can help you or collaborate ?

The first question was answered by @poojaranjan in DM:
"On a very high level, Notes, Networ

[2021-03-30 18:20] poojaranjan commented on #163
Notes submitted, payment successful.

[2021-03-30 18:20] #163 closed

[2021-03-30 18:21] poojaranjan commented on #103
Berlin can be tracked with the web link provided.

[2021-03-30 18:21] #103 closed

[2021-03-31 22:02] BrentAllsop commented on #155
Charles St.Louis (CPSTL)
@CPSTL  is the owner of the ethererumcatherders.com domain.
We just need to get him a new IP address, and he can update it.
I can do that, if you get me the IP.

[2021-03-31 22:16] michaelgiesen commented on #155
@BrentAllsop and/or @CPSTL in regards to pointing the domain to the new hosting, is it simply _just_ the IP address you need, or do you need the new nameservers?

[2021-04-01 02:42] BrentAllsop commented on #155
Just the IP address.

[2021-04-01 18:10] michaelgiesen commented on #155
@BrentAllsop 173.201.185.67

[2021-04-01 18:52] BrentAllsop commented on #155
Whenever the new sight is ready at this location, we can just give this IP to @CPSTL and he can make the switch.

[2021-04-05 13:25] wschwab commented on #167
Alternatively, we'd love to hear how _we_ can help _you_!

[2021-04-05 13:50] wschwab commented on #167
There's something I'd like to suggest as a possible initiative to champion - there's some talk about the lack of a good universal IR (Intermediate Representation) language in the space right now, something like LLVM but catered for blockchain, and I'd be interested in pitching an effort to create a working group on this. Could we put that in?

[2021-04-06 20:53] poojaranjan opened #169 "Ethereum Cat Herder Meeting #56"
## Date and Time

Apr 13, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [Progress on ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. [Working group for  LLVM catered for blockchain](h

[2021-04-07 19:16] michaelgiesen commented on #155
All,

Here is the live staging site where everyone can see the progress being made. We're still working on applying the content in some places, but if you'd like to see everything laid out please view here:

http://ethereumcatherders.site/

please let me know of changes if you see something glaring so we can get those updated ASAP.

[2021-04-07 19:47] alita-moore commented on #155
@michaelgiesen 😮 that looks... amazing. I would say a little better than the original, lol.

[2021-04-08 20:11] michaelgiesen commented on #155
@alita-moore thank you thank yoU! :)

[2021-04-08 20:36] shanelightowler commented on #155
I agree, looking fantastic!

[2021-04-12 14:51] poojaranjan commented on #167
Closing in favor of #169

[2021-04-12 14:51] #167 closed

[2021-04-13 10:49] wschwab commented on #169
If the LLVM item was based on my comment on the last meeting, I'd just like to clarify that it's not about the LLVM, just about getting a general IR (Intermediate Representation) catered for blockchain.

[2021-04-13 10:53] poojaranjan commented on #169
@wschwab It is added based on the comment from the last agenda. Looking forward to listening more to it.

[2021-04-15 01:37] michaelgiesen commented on #155
Ethereum Cat Herders site is now ready to launch. @BrentAllsop can we get this switched over so it's published to the live domain?

current IP address: 173.201.185.67

[2021-04-15 18:05] poojaranjan opened #170 "Bounty for documenting meeting notes"
Task - Document notes for Ethereum ACD meeting 110

Bounty - 150 DAI

Guidelines & template - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

Create a Pull Request [here](https://github.com/ethereum/pm/pulls) to submit the notes.

[2021-04-19 18:31] poojaranjan opened #173 "Ethereum Cat Herder Meeting #57"
## Date and Time

Apr 27, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. [Working group for  LLVM catered for blockchain](https://githu

[2021-05-03 21:24] poojaranjan opened #175 "Ethereum Cat Herder Meeting #58"
## Date and Time

May 11, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)

### 2. Events & community call
- [Coindesk's Consensus 2021](https://

[2021-05-03 21:24] poojaranjan commented on #173
Closing in favor of #175

[2021-05-03 21:24] #173 closed

[2021-05-04 11:52] poojaranjan commented on #169
closing in favor of #173

[2021-05-04 11:52] #169 closed

[2021-05-11 15:49] shanelightowler commented on #170
Just to update, this is currently being worked on by a new ECH member and is close to delivery.

[2021-05-11 17:35] poojaranjan opened #177 "Ethereum Cat Herder Meeting #59"
## Date and Time

May 25, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New members introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- Update
- [.crypto domains for ECH](https://twitter.com/unstoppablewe

[2021-05-12 15:16] shanelightowler commented on #170
PR raised: https://github.com/ethereum/pm/pull/317

[2021-05-25 14:35] poojaranjan opened #180 "Bounty for documenting meeting notes for Ethereum Consensus Layer (Eth2) meeting 64"
**Task** - Document notes for Ethereum Consensus Layer meeting 64

**Agenda** - https://github.com/ethereum/eth2.0-pm/issues/218

Guidelines & template - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

Create a Pull Request [here](https://github.com/ethereum/eth2.0-pm/pulls) to submit the notes.

**Bounty** - 150 DAI

[2021-05-25 15:41] DockBoss commented on #180
I will attempt the meeting notes.

[2021-05-26 05:59] DockBoss commented on #180
@poojaranjan I just put in the pull request. Let me know if there is anything I can improve on.

[2021-06-03 02:23] alita-moore opened #182 "EIP Status Banner"
This project is described below:
<img width="1122" alt="Screen Shot 2021-06-02 at 9 23 05 PM" src="https://user-images.githubusercontent.com/26529820/120576634-b9162f80-c3e8-11eb-8034-67f8b651117b.png">

[2021-06-03 02:24] alita-moore commented on #182
@poojaranjan can you please give me write access to this repo so I can manage these tickets?

[2021-06-03 02:57] alita-moore opened #183 "[EIP Bot] update the bot to allow editors to approve status change"
Status changes currently do not allow for pass after EIP reviewer review

https://github.com/ethereum/EIPs/pull/3497

There was a similar change on the bot recently

https://github.com/ethereum/EIP-Bot/commit/5ce39794a68effe78765601429912321847f277f

And

https://github.com/ethereum/EIP-Bot/commit/4a2847df2fb9d1b8d46924744658f72534f1cbf3

Ultimately, we just want to add the ability for this behavi

[2021-06-03 15:47] poojaranjan commented on #182
@alita-moore you have now permissions to read and clone this repository & also manage issues and pull requests.
I suppose this work (EIP status Banner) has to be pushed to the EIP repo, and not merged here.

[2021-06-03 15:58] alita-moore commented on #182
I will be tracking everything here

[2021-06-04 22:21] alita-moore opened #184 "[EIP Bot] Touching final requires both author and editor approval"
<img width="1071" alt="Screen Shot 2021-06-04 at 5 19 44 PM" src="https://user-images.githubusercontent.com/26529820/120868241-3b256600-c559-11eb-9863-6376518032f8.png">
https://github.com/ethereum/EIPs/pull/3596

[2021-06-04 22:31] alita-moore opened #185 "Create job decriptions for JSON RPC work"
The purpose of this ticket is to create a job description for the kind of work expected from someone who would like to get involved with the JSON RPC project. The exact details of this will align with the following flow:

<img width="781" alt="Screen Shot 2021-06-04 at 5 29 32 PM" src="https://user-images.githubusercontent.com/26529820/120868801-71171a00-c55a-11eb-998f-e9bd956332fb.png">

wherein

[2021-06-04 22:36] alita-moore opened #186 "Advertise for JSON RPC contracted position"
This ticket is to advertise the aforementioned job description to prospective people wanting to gain more involvement in the ethereum community. More info about this can be found here:
https://github.com/ethereum-cat-herders/PM/issues/185

@poojaranjan has mentioned that she is willing to advertise this oppurtunity on all reasonable ECH platforms.

[2021-06-04 22:39] alita-moore opened #187 "Onboard JSON RPC individual(s) and report on expected timeline"
This ticket is to be completed `ad-hoc` but primarily as a direct succesor to defining the job role, advertising / hiring, and is meant to encompass the onboarding of individuals that were interested in getting involved / paid for their work. This ticket includes the process of training and monitoring output to the be reported to the respective stakeholders (@tkstanczak, nethermind).

[2021-06-04 22:39] alita-moore opened #188 "Find someone to help with JSON RPC work"
The current proposed JSON RPC timeline is as follows:
<img width="815" alt="Screen Shot 2021-06-04 at 5 25 20 PM" src="https://user-images.githubusercontent.com/26529820/120868522-d9b1c700-c559-11eb-8452-e9e9e1633dd7.png">

@tkstanczak has relayed to me that the `nethermind` would like to reduce the proposed timeline. To do this they have asked me to find a full time person to help me and that I w

[2021-06-04 23:15] alita-moore opened #189 "[EIP Bot] Set bot live and monitor it for problems"
This issue should be closed once we have verified that the bot is automerging in an appropriate way (this ignores when / how just that it does)

[2021-06-04 23:24] DockBoss commented on #188
I would love to help if you need people.

[2021-06-05 01:36] alita-moore commented on #188
@DockBoss awesome! I don't have the specification yet on compensation + time commitment, but how many hours (max) do you think you could work?

[2021-06-05 03:20] DockBoss commented on #188
I could work 40+ hours a week if needed.

[2021-06-05 10:57] poojaranjan commented on #180
Thanks for your work. Bounty awarded.

[2021-06-05 10:57] #180 closed

[2021-06-05 11:01] poojaranjan commented on #182
@alita-moore on your request, the permission has been upgraded. You should now be able to read, clone, and push to this repository. Can also manage issues and pull requests.

[2021-06-05 11:10] poojaranjan commented on #175
Closing in favor of #177

[2021-06-05 11:10] #175 closed

[2021-06-05 11:11] poojaranjan commented on #170
Thanks for your work. Bounty awarded!

[2021-06-05 11:11] #170 closed

[2021-06-05 11:26] alita-moore commented on #188
@DockBoss that's interesting. Reach out to me on discord at Alita#5791 and we can talk more about the exact requirements of this. It's a very good learning opportunity.

[2021-06-05 20:13] #185 closed

[2021-06-05 20:13] #186 closed

[2021-06-05 20:13] #187 closed

[2021-06-05 20:15] alita-moore commented on #182
Initial banner design:
<img width="904" alt="Screen Shot 2021-06-05 at 3 15 19 PM" src="https://user-images.githubusercontent.com/26529820/120904242-d9283780-c610-11eb-938a-846d87694741.png">

[2021-06-06 15:48] poojaranjan opened #190 "Ethereum Cat Herder Meeting #60"
## Date and Time

June 08, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New on ECH Discord and/or contributors introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- Update
- Website testing & debugging
- n

[2021-06-11 20:27] poojaranjan commented on #188
@alita-moore  Is there a decision or need for more application? If so happy to include it in the upcoming newsletter to invite more participation. Let me know!

[2021-06-11 20:27] poojaranjan commented on #177
closing in favor of #190

[2021-06-11 20:27] #177 closed

[2021-06-11 20:33] alita-moore commented on #188
@poojaranjan things are going well with @DockBoss i still want to wait until next week to make a final decision, but so far so good. I.e. Not at the moment

[2021-06-11 20:36] poojaranjan commented on #188
Cool! I am not adding in the upcoming newsletter. Will revisit on June 18th. Thank @alita-moore !

[2021-06-13 12:38] poojaranjan opened #191 "Update Readme file of ethereum / pm"
**Task**: Update the README file of ethereum/pm by adding Tim's tweet.

**Estimated effort**: up to 5 hrs.

Create a pull request [here](https://github.com/ethereum/pm/pulls).

[2021-06-13 12:41] Avishek041180 commented on #191
Pull request created - https://github.com/ethereum/pm/pull/338

[2021-06-14 19:57] CanonizerJim opened #192 "Notes for ECH meeting #60"
[ECH Meeting 60.md](https://github.com/ethereum-cat-herders/PM/files/6650885/ECH.Meeting.60.md)

[2021-06-15 15:15] alita-moore commented on #189
bot is live

[2021-06-15 15:15] #189 closed

[2021-06-15 15:15] #188 closed

[2021-06-15 15:16] alita-moore opened #199 "ethereum/EIPs migrate travis-ci.org to travis-ci.com"
more information can be found [here](https://docs.travis-ci.com/user/migrate/open-source-repository-migration/#frequently-asked-questions), but essentially our travis ci on `ethereum/EIPs` has stopped working because of this, so I am going to fix it.

[2021-06-16 03:57] alita-moore commented on #199
completed

[2021-06-16 03:57] #199 closed

[2021-06-16 15:24] alita-moore opened #200 "[EIP Bot] require that eip 1 be approved by two editors before auto merging"

[2021-06-17 07:56] alita-moore commented on #200
completed: https://github.com/ethereum/EIP-Bot/commit/aae7f7949446e433ede47434412b355ffe539726

[2021-06-17 07:56] #200 closed

[2021-06-17 07:56] alita-moore commented on #183
completed:

code change: https://github.com/ethereum/EIP-Bot/commit/aae7f7949446e433ede47434412b355ffe539726

[2021-06-17 07:56] #183 closed

[2021-06-17 08:08] alita-moore opened #201 "[EIP Bot] add asset management to bot"
![image](https://user-images.githubusercontent.com/26529820/122357292-39747e80-cf19-11eb-80d9-067886ddfa4a.png)
https://github.com/ethereum/EIPs/pull/3614

[2021-06-17 08:36] alita-moore opened #202 "[EIP Bot] Support multiple files at once"
![image](https://user-images.githubusercontent.com/26529820/122361805-367b8d00-cf1d-11eb-882c-91a42577eed3.png)
https://github.com/ethereum/EIPs/pull/3612/files

[2021-06-17 08:38] alita-moore opened #203 "[EIP Bot] build out tests"
this is a big task that will take me a long time to complete to a satisfactory degree, or at the very least it's non-trivial. But this is a very important part of the bot development. I will comment on this issue as I make progress.

[2021-06-17 18:18] alita-moore opened #204 "EIP withdrawn bot"
This bot is for marking EIPs as withdrawn after a certain amount of time

engineers: @alita-moore @DockBoss

[2021-06-17 18:18] alita-moore commented on #204
I will be helping out on this and providing guidance to @DockBoss as he builds out the bot

[2021-06-17 21:45] poojaranjan commented on #204
@alita-moore just to be clear, is it the same work as listed [here](https://github.com/ethereum-cat-herders/EIPIP/issues/73) or it is something different?

[2021-06-17 21:50] alita-moore commented on #204
that's correct @poojaranjan I'm putting it here for the sake of tracking the work done for `ECH Engineering`

[2021-06-17 22:25] poojaranjan commented on #204
Good to know that task is being worked on.

Again, I'd highly recommend adding a card to the _[ECH Engineering projects](https://github.com/ethereum-cat-herders/PM/projects/3)_ and **NOT** use _Issue_ for keeping track of ECH engineering tasks.

Currently, multiple resources of ECH are engaged with various tasks such as communication, documentation, social media outreach, ECH website management et

[2021-06-17 23:07] alita-moore commented on #184
complete: https://github.com/ethereum/EIP-Bot/pull/3

[2021-06-17 23:07] #184 closed

[2021-06-18 08:32] alita-moore commented on #203
I have begun building the tests, I made progress today: https://github.com/ethereum/EIP-Bot/pull/4/commits/1c173e32abca80a9280dca3c1b4181d0bfe8644c

[2021-06-21 14:45] poojaranjan opened #206 "Ethereum Cat Herder Meeting #61"
## Date and Time

June 22, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- Update

### 2. Blogs & survey
- E

[2021-06-21 15:27] poojaranjan commented on #192
Closing in favor of #205

[2021-06-21 15:27] #192 closed

[2021-06-21 15:29] poojaranjan commented on #190
Closing in favor of #206

[2021-06-21 15:29] #190 closed

[2021-06-22 02:58] poojaranjan opened #207 "Bounty for documenting notes (Eth2 meeting 66)"
Task - Document notes for Ethereum Eth2 meeting 66

Bounty - 150 DAI

Guidelines & template - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

Create a Pull Request [here](https://github.com/ethereum/eth2.0-pm/pulls) to submit the notes.

Earlier notes (for reference) - https://github.com/ethereum/eth2.0-pm/tree/master/eth2.0-implementers-calls

[2021-06-22 04:36] Santhosh1692 commented on #207
I will take it up

[2021-06-22 10:08] poojaranjan commented on #207
Resource identified.

[2021-06-22 10:08] #207 closed

[2021-06-22 16:16] poojaranjan commented on #155
Hi @michaelgiesen
We missed you in the ECH meeting today. Would you please leave an update on the progress? Either here or on the [agenda](https://github.com/ethereum-cat-herders/PM/issues/206) is fine.
Thanks!

[2021-06-22 17:47] alita-moore commented on #204
sure @poojaranjan I'll move stuff over.

[2021-06-22 20:41] michaelgiesen commented on #155
@poojaranjan I would consider this project officially 'done'. As of 06/22/21 1:30PM PST the EthereumCatHerders.com is now being hosted on unvetica infrastructure and fully integrated with GitHub. The Website repo can be found here: https://github.com/ethereum-cat-herders/ech-website-v2

For website updates all you'll have to do is submit a PR, once changes have been merged in they'll be deployed t

[2021-06-23 20:14] BrentAllsop commented on #155
I get 404, page not found with that link.

[2021-06-23 20:32] poojaranjan commented on #155
I just changed the visibility. @BrentAllsop can you please try again? Let me know if you still find the error.

[2021-06-24 01:34] alita-moore commented on #203
closing in favor of my fork

[2021-06-24 01:34] #203 closed

[2021-06-24 01:35] #202 closed

[2021-06-24 01:35] alita-moore commented on #202
closed in favor of personalfork

[2021-06-24 01:36] alita-moore commented on #201
closed in favor of personal fork

[2021-06-24 01:36] #201 closed

[2021-06-24 01:37] alita-moore commented on #182
@poojaranjan I'm removing my tickets in favor of my personal fork to make it easier totrack issues as you mentioned; do you want me to move this one as well? https://github.com/alita-moore/PM/issues

[2021-06-24 01:37] alita-moore opened #208 "Ethereum Cat Herders Engineering (June 2021)"
- [x] https://github.com/ethereum-cat-herders/PM/issues/189
- [x] https://github.com/ethereum-cat-herders/PM/issues/184
- [x] https://github.com/ethereum-cat-herders/PM/issues/183
- [x] https://github.com/ethereum-cat-herders/PM/issues/199
- [x] https://github.com/ethereum-cat-herders/PM/issues/200
- [ ] https://github.com/alita-moore/PM/issues/5
- [ ] https://github.com/alita-moore/PM/issues/4
-

[2021-06-24 01:41] alita-moore commented on #208
@poojaranjan is this okay with you? I'm going to link the tickets on my personal fork to this issue to help track more in line with what you mentioned

[2021-06-24 01:41] alita-moore commented on #204
@poojaranjan what would you like me to do with this issue?

[2021-06-24 20:28] BrentAllsop commented on #155
@poojaranjan

Oh, there it is, now I see it, thanks.

[2021-06-28 19:04] poojaranjan commented on #208
Appreciate it considering consolidating tasks, @alita-moore. This is much better :)

[2021-06-28 19:05] poojaranjan commented on #191
Task completed, payment disbursed.

[2021-06-28 19:05] #191 closed

[2021-06-28 19:09] alita-moore commented on #208
Of course!

[2021-06-28 19:39] poojaranjan commented on #155
@michaelgiesen thanks for integrating the content with the ECH GitHub.

On review of the live website, it seems like there are issues with sync and some of the requested updates as listed [here](https://docs.google.com/document/d/1kbU5FwPQLAT7TAuSKzVhuAwDcW_lBKpP0cyqVm7JbiQ/edit#) & [here](https://docs.google.com/document/d/1DA69jNqli7a4g_hEih52xpA5SrhvR-CC81lXnG9lhxQ/edit#) are still outstanding.

[2021-06-28 20:00] michaelgiesen commented on #155
@poojaranjan It's unclear to me what you're specifically referencing with the two links. What I suggest is a meeting to discuss the workflow and to be able to show this via screenshare.

I find the share google docs to be a big confusing to follow over time, I think being able to apply the development workflow and maintain everything via GitHub will be more efficient. Once I have this workflow dem

[2021-06-28 20:29] poojaranjan commented on #155
Listing a few for your reference.
- The home page TV section is still outdated.
- Latest video button does not show the latest video
- PEEPanEIP tab shows EIPIP meetings
- There is no playlist for EIPIP meetings
- Which one will be used when a meeting is Live streamed?
- Edson Ayllon is not listed as members
- EIP resources shared on June 7 [here](https://docs.google.com/document/d/1DA69jNqli7a4g_

[2021-06-29 08:55] Santhosh1692 commented on #155
@poojaranjan : I am available for option (a).

[2021-06-29 12:06] poojaranjan commented on #155
@michaelgiesen  @shanelightowler, @BrentAllsop, @Santhosh1692

Let'sconnect in a couple of hours (on Tuesday, June 29th @ 2:00 PM UTC). I have DM'd the zoom link to everyone on Discord.

[2021-06-29 14:10] poojaranjan commented on #155
As it turns out this was short notice.  happy to reschedule the meeting to **Friday, July 2nd @ 4:00PM UTC** @michaelgiesen.

The same zoom link can be used for the meeting.

[2021-06-29 17:43] BrentAllsop commented on #155
Sorry If I missed a meeting, I am interested in this.

[2021-06-29 18:07] poojaranjan commented on #155
@BrentAllsop you didn't miss it. We will meet on **Friday, July 2nd @ 4:00PM UTC**

[2021-06-29 18:23] BrentAllsop commented on #155
That's 10:00 am, my time.  Just added it to my calendar.

[2021-07-01 16:34] poojaranjan opened #211 "Ethereum Cat Herders Engineering (July 2021)"
ECH engineering tasks (July 2021)

Contd. from [June 2021](https://github.com/ethereum-cat-herders/PM/issues/208)
- [ ] https://github.com/alita-moore/PM/issues/5
- [ ] https://github.com/alita-moore/PM/issues/4
- [x] https://github.com/alita-moore/PM/issues/3

New addition
- [x] https://github.com/alita-moore/PM/issues/6
- [x] https://github.com/alita-moore/PM/issues/7
- [ ] https://github.com/et

[2021-07-01 16:34] poojaranjan commented on #208
@alita-moore
Renaming the issue to reflect ECH engineering tasks for June 2021. Going forward, we can have one issue for each month. New tasks and WIP from the last month can be added as a list. Hope this will help.

Closing this in favor of #211

[2021-07-01 16:34] #208 closed

[2021-07-01 17:08] poojaranjan opened #212 "Ethereum Cat Herder Meeting #62"
## Date and Time

July 06, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- Update

### 2. ECH Discord modera

[2021-07-01 17:10] poojaranjan commented on #206
Closing in favor of #212

[2021-07-01 17:10] #206 closed

[2021-07-01 18:04] poojaranjan commented on #155
@michaelgiesen something came up and I may not be able to make it on Friday. Can we move it to Tuesday, **July 06 @ 4:00 PM UTC** (just after the ECH meeting)?

cc: @BrentAllsop @Santhosh1692 @shanelightowler

[2021-07-01 19:06] BrentAllsop commented on #155
I have something at 4:00 pm UTC on Jul 6, but could move it.

[2021-07-01 19:14] poojaranjan opened #213 "Bounty for documenting notes (ACD meeting 116)"
**Task** - Document notes for Ethereum ACD meeting 116

**Bounty** - 150 DAI

**Agenda** - https://github.com/ethereum/pm/issues/337

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethereum/pm/tree/master/All%20Core%20Devs%20Meetings)

[2021-07-01 19:41] poojaranjan opened #214 "Add a warning label to all non-finalized EIPs"
**Task**: Add a warning statement to EIP pages at https://eips.ethereum.org/
Applicable to all _**non-finalized**_ EIPs

![image](https://user-images.githubusercontent.com/29681685/124180372-1520b200-da82-11eb-9b0a-b83dff1d8534.png)

Ref: https://github.com/ethereum-cat-herders/PM/issues/182

If you're interested to work on this issue, please respond below. In case of questions or additional infor

[2021-07-01 19:51] poojaranjan commented on #182
Closing the issue in favor of  #214 to open it for the community as discussed in the [EIPIP meeting 36](https://www.youtube.com/watch?v=wt7EB8MujgA) (at 44:44).

[2021-07-01 19:51] #182 closed

[2021-07-01 19:57] poojaranjan commented on #204
IMO let it be tracked at the [original issue](https://github.com/ethereum-cat-herders/EIPIP/issues/73).  We can close this.

[2021-07-01 19:57] #204 closed

[2021-07-01 21:38] golden-gringo commented on #213
Hello, I would be interested in helping document the notes for this meeting.

[2021-07-01 21:41] poojaranjan commented on #213
@golden-gringo
Thanks for responding. All details are added in the issue section. You may follow [earlier meeting notes](https://github.com/ethereum/pm/tree/master/All%20Core%20Devs%20Meetings) for reference. Let me know if you have any questions.

[2021-07-01 21:46] golden-gringo commented on #213
Thank you!  I can begin working on this tonight, I will let you know when it is finished.

[2021-07-02 06:01] michaelgiesen commented on #155
@poojaranjan That's not a problem. I will be available and attend the ECH meeting on Tuesday, July 06 @ 4:00 PM UTC

[2021-07-04 00:30] golden-gringo commented on #213
I just submitted a pull request for the Meeting 116 notes, and the README file on the Ethereum GitHub.
https://github.com/ethereum/pm/pulls

[2021-07-05 03:24] poojaranjan commented on #213
Thanks for submitting the notes. A few formatting fixes are recommended. Please update the notes.
 If you're available on the Etherum Cat Herders Discord server, please DM me to learn how to claim the bounty.

[2021-07-05 03:30] poojaranjan opened #215 "Bounty for documenting notes (Eth2.0 meeting 67)"
**Task** - Document notes for Eth2.0 meeting 67

**Bounty** - 150 DAI

**Agenda** - https://github.com/ethereum/eth2.0-pm/issues/224

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethereum/eth2.0-pm/tree/master/eth2.0-implementers-cal

[2021-07-05 04:02] Santhosh1692 commented on #215
I am starting to work on this today.

[2021-07-05 15:38] golden-gringo commented on #213
I updated the notes with the formatting fixes, let me know if there are any other fixes you would like me to make!

[2021-07-06 14:31] poojaranjan commented on #155
@michaelgiesen

Cool! It will be nice to have an update on the syncing issue, missing details on the website & an estimated turnaround time on any requested service. Talk to you soon!

(We can use the ECH meeting zoom link to join & record the webiste-development meeting. I will share it afterwards for people to follow, if anyone can not make it to the meeting today.)

[2021-07-07 14:27] Santhosh1692 commented on #215
Will be submitting the PR  by tomorrow EOD. @poojaranjan

[2021-07-09 05:56] Santhosh1692 commented on #215
It is complete. Reference: https://github.com/ethereum/eth2.0-pm/pull/225

[2021-07-13 18:13] poojaranjan commented on #215
Bounty paid!

[2021-07-13 18:13] #215 closed

[2021-07-13 18:14] poojaranjan commented on #213
Thanks for your work. Bounty is paid!

[2021-07-13 18:14] #213 closed

[2021-07-13 18:18] poojaranjan opened #216 "Ethereum Cat Herder Meeting #63"
## Date and Time

July 20, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  ECH updates
- [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- [Meeting notes](ht

[2021-07-14 15:47] poojaranjan commented on #212
Closing in favor of #216

[2021-07-14 15:47] #212 closed

[2021-07-15 20:45] feld commented on #214
I'm working on this, will link the pull request when it's ready.

[2021-07-16 14:19] poojaranjan opened #217 "Bounty for documenting notes (Ethereum Cat Herders Meeting 62)"
**Task** - Document notes for Ethereum Cat Herders Meeting 62

**Bounty** - 50 DAI

**Agenda** - https://github.com/ethereum-cat-herders/PM/issues/212

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethereum/eth2.0-pm/tree/master/eth2.

[2021-07-16 14:19] poojaranjan opened #218 "Bounty for documenting notes (Eth2.0 meeting 68)"
**Task** - Document notes for Eth2.0 meeting 68

**Bounty** - 150 DAI

**Agenda** - https://github.com/ethereum/eth2.0-pm/issues/226

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethereum/eth2.0-pm/tree/master/eth2.0-implementers-cal

[2021-07-16 14:23] darkfire-rain commented on #218
I will be working on it, will submit the pull request soon!

[2021-07-16 14:33] Avishek041180 commented on #217
I will work on this note

[2021-07-18 17:40] alita-moore commented on #211
@poojaranjan it makes the most sense to me to put all engineering related tasks on my plate my adding them here. I may be too busy with other things to get to them quickly, so you can try and find people to do them. If those people don't / no one jumps on then I will _eventually_ get to it :) I have added on the website banner + marking EIPs as stale bot. I am just going to tackle things kind of i

[2021-07-18 20:07] KenMan79 commented on #217
I am submitting making the submission now

[2021-07-18 20:10] KenMan79 commented on #217
Had a personal issue that created a blocker

[2021-07-18 23:04] darkfire-rain commented on #218
Pull request submitted!
https://github.com/ethereum/eth2.0-pm/pull/228

[2021-07-19 10:52] wschwab commented on #216
There is a large chance that I will be unable to make the meeting tomorrow. I can give an update here, if desired.

[2021-07-19 11:10] Avishek041180 commented on #217
PR - [ECH meeting 067](https://github.com/ethereum-cat-herders/PM/pull/219)

Please review and merge

[2021-07-19 15:03] poojaranjan commented on #216
@wschwab
An update here would be nice to have. Thanks!

[2021-07-19 15:53] poojaranjan commented on #217
Had a personal issue that created a blocker

@KenMan79 Don't worry about it. I hope things are looking better at your end.

As per the task, we've received the submission  (pull request) from @Avishek041180 within the submission timeline, so we're going to approve it.

I am happy to have you scheduled for another meeting note if you're available.

[2021-07-19 15:57] poojaranjan commented on #218
Thanks for the submission, @darkfire-rain. Please create an issue requesting funds as suggested on guidelines & templates.

[2021-07-20 15:01] wschwab commented on #216
I should be able to make it, but I'll be late

[2021-07-20 15:09] poojaranjan commented on #216
@wschwab very well!

[2021-07-20 20:01] poojaranjan commented on #211
@alita-moore
We can remove the issue "_Add a warning label to all non-finalized EIPs_" from the list as a pull request has been submitted to complete the task. The pull request looks good to me. As soon as it is merged, will close the issue.

I would appreciate tasks being managed in an orderly fashion. You may leave the tasks open for the community if you have bandwidth issues but feel free to mo

[2021-07-20 20:09] alita-moore commented on #211
Sure, that makes sense. I think that it would make sense to treat this as a list of tasks to be completed and then every ECH we can prioritize / promise some of the tickets.

For instance, I promise to that I will fix the bugs with the EIP Bot, write the stale EIP bot, and finish writing the bot tests by next ECH.

Does this sound good to you? This will also give me the ability to say that X amoun

[2021-07-20 20:11] poojaranjan commented on #211
Sounds good!

[2021-07-22 16:32] poojaranjan commented on #214
The pull request is approved and merged.

Appreciate your contribution, @feld !!

[2021-07-22 16:32] #214 closed

[2021-07-23 00:13] alita-moore commented on #211
per the ECH meeting I will be working on (in order of priority)
- [ ] https://github.com/alita-moore/PM/issues/6
- [ ] https://github.com/alita-moore/PM/issues/7
- [ ] https://github.com/ethereum-cat-herders/EIPIP/issues/73#issuecomment-879999394
- [ ] https://github.com/alita-moore/PM/issues/3

By the next ECH meeting on August 3rd (although I will have these done before august 1st)

[2021-07-30 03:37] alita-moore commented on #216
please also add

JSON RPC work contract work (looking for applicants) to the schedule

[2021-08-03 07:59] alita-moore commented on #216
I won't be able to make the meeting.

## ECH Engineering

(action item) follow up with August engineering issue

You can see the remaining items on the engineering docket here
https://github.com/ethereum-cat-herders/PM/issues/211#issue-935022362

It would be good to prioritize these as a response to that ticket. Currently my priority is the stale bot, then bot bugs. I will finish these before next

[2021-08-03 14:59] poojaranjan opened #221 "Ethereum Cat Herder Meeting #64"
## Date and Time

Aug 03, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  ECH updates
- [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155)
- [Meeting notes](htt

[2021-08-03 18:44] poojaranjan opened #222 "Ethereum Cat Herder Meeting #65"
## Date and Time

Aug 17, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  ECH updates
- [ECH website](https://github.com/ethereum-cat-herders/PM/issues/155) & decide on whether t

[2021-08-03 18:46] poojaranjan commented on #216
Closing in favor of #64

[2021-08-03 18:46] #216 closed

[2021-08-03 18:46] poojaranjan commented on #221
Closing in favor of #222

[2021-08-03 18:46] #221 closed

[2021-08-03 18:47] #217 closed

[2021-08-03 18:47] #218 closed

[2021-08-11 00:42] alita-moore opened #224 "Ethereum Cat Herders Engineering (August 2021)"
ECH engineering tasks (August 2021)

Contd. from [July 2021](https://github.com/ethereum-cat-herders/PM/issues/211)
- [ ] https://github.com/alita-moore/PM/issues/5
- [ ] https://github.com/alita-moore/PM/issues/4
- [x] https://github.com/ethereum-cat-herders/EIPIP/issues/73#issuecomment-879999394 (bot that marks EIPs as stale daily)
- [ ] https://github.com/ethereum/EIP-Bot/issues/5
- [x] https:/

[2021-08-11 00:42] #211 closed

[2021-08-11 00:47] alita-moore commented on #224
Promised item before August 17th 2021

- [ ] https://github.com/ethereum-cat-herders/EIPIP/issues/73#issuecomment-879999394 (bot that marks EIPs as stale daily)
- [ ] https://github.com/ethereum/EIP-Bot/issues/6
- [ ] https://github.com/ethereum/EIP-Bot/issues/8

[2021-08-17 18:36] poojaranjan opened #225 "Ethereum Cat Herder Meeting #66"
## Date and Time

Aug 31, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  ECH updates
- ECH engineering
- Cat blazers
- London upgrade NFT distribution
- EIP/ERC editing
- [Peep

[2021-08-17 18:36] poojaranjan commented on #222
Closing in favor of #224

[2021-08-17 18:36] #222 closed

[2021-08-30 16:28] alita-moore commented on #225
Since last time for ECH Engineering:
- addressed comments / feature requests for stagnant bot
- merged stagnant bot
- (bug) fixed not mentioning editors on changing of status
- (feature) the bot now comments when an exception occurs

Goals moving forward (assuming funding):
- fix remaining bugs (2 more remaining)
- multi-file linting
- mention specific editors for different types of EIPs

[2021-08-31 16:47] poojaranjan opened #227 "Ethereum Cat Herder Meeting #67"
## Date and Time

Sep 14, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  ECH updates
- [ECH website updating](https://github.com/ethereum-cat-herders/ech-website-v2/issues)
- EC

[2021-08-31 16:47] poojaranjan commented on #225
Closing in favor of #227

[2021-08-31 16:47] #225 closed

[2021-09-04 01:12] KenMan79 opened #228 "Meeting #066"
Meeting #225 PR Submitted

[2021-09-04 03:04] poojaranjan commented on #228
@KenMan79
The ECH meeting notes is expected to be submitted as a pull request for [this repo](https://github.com/ethereum-cat-herders/PM/tree/master/All%20Ethereum%20Cat%20Herder%20Meetings).

Sharing an earlier report for your [reference](https://github.com/ethereum-cat-herders/PM/blob/master/All%20Ethereum%20Cat%20Herder%20Meetings/Meeting%20064.md).

Please have the meeting notes for ECH meetin

[2021-09-14 07:48] alita-moore commented on #227
I have been traveling the past two weeks so I haven't made progress on engineering. But I will be taking extra time this weekend to catch up. I won't be able to make the meeting.

[2021-09-14 12:51] poojaranjan commented on #228
Closing in favor of #229

[2021-09-14 12:51] #228 closed

[2021-09-14 15:55] poojaranjan opened #230 "Ethereum Cat Herders Meeting #68"
## Date and Time

Sep 28, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1.  Altair upgrade

### 2. ECH updates
- [ECH website updating](https://github.com/ethereum-cat-herders/ech-

[2021-09-14 15:55] poojaranjan commented on #227
Closing in favor of #230

[2021-09-14 15:55] #227 closed

[2021-09-14 16:18] alita-moore opened #231 "ECH Engineering (September 2021)"
Contd. from [August 2021](https://github.com/ethereum-cat-herders/PM/issues/224)
- [ ] https://github.com/alita-moore/PM/issues/5
- [ ] https://github.com/ethereum/EIP-Bot/issues/5
- [ ] https://github.com/ethereum/EIP-Bot/issues/7
- [ ] https://github.com/ethereum/EIP-Bot/issues/8
- [ ] https://github.com/ethereum/EIP-Bot/issues/9
- [ ] https://github.com/alita-moore/PM/issues/9
- [x] https://git

[2021-09-14 16:18] alita-moore commented on #224
Closed in favor of https://github.com/ethereum-cat-herders/PM/issues/231

[2021-09-14 16:18] #224 closed

[2021-10-02 23:42] alita-moore opened #235 "ECH Engineering (October 2021)"
Contd. from [September 2021](https://github.com/ethereum-cat-herders/PM/issues/231)
- [ ] https://github.com/alita-moore/PM/issues/5
- [ ] https://github.com/ethereum/EIP-Bot/issues/5
- [x] https://github.com/ethereum/EIP-Bot/issues/7
- [x] https://github.com/ethereum/EIP-Bot/issues/8
- [x] https://github.com/ethereum/EIP-Bot/issues/9
- [ ] https://github.com/alita-moore/PM/issues/9
- [ ] https://

[2021-10-02 23:42] alita-moore commented on #231
closing in favor of: https://github.com/ethereum-cat-herders/PM/issues/235

[2021-10-02 23:42] #231 closed

[2021-10-04 17:58] poojaranjan opened #236 "Ethereum Cat Herders Meeting #69"
## Date and Time

Oct 12, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [Arrow Glacier](https://medium.com/r/?url=https%3A%2F%2Fgithub.com%2Fethereum%2Fexecuti

[2021-10-04 17:58] poojaranjan commented on #230
Closing in favor of #236

[2021-10-04 17:58] #230 closed

[2021-10-12 06:24] alita-moore commented on #236
I might not make it to the meeting. So here's a quick update about engineering:

currently working on feature for custom editors per eip type. After this I will be focusing on fixing bugs (including ones related to the auto stagnate bot).

[2021-10-12 15:34] poojaranjan opened #238 "A webpage to curate resources for "The Merge""
We're looking to add a webpage to the tab "The Merge" at https://ethereumcatherders.com/ to be able to list and share all the relevant resources for the upcoming upgrade.

help required to
- design the page
- curate available resources on "The Merge"

Please respond to the issue if you're interested to work on this. You may create a pull request on the ECH website Github [here](https://github.com/

[2021-10-26 01:40] poojaranjan opened #242 "Ethereum Cat Herders Meeting #70"
## Date and Time

Oct 26, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [Altair](https://github.com/ethereum/consensus-specs#altair)
- [Arrow Glacier](https://

[2021-10-28 19:39] poojaranjan opened #243 "JSON RPC Spec Writer required"
## JSON RPC Spec Writer

### **Skills & experience required**
 * experience working with Ethereum JSON RPC.
 * experience writing comprehensive, yet precise specification documents
   See the Oasis Basleine standard as an example: https://github.com/eea-oasis/baseline-standard/blob/main/core/baseline-core-v1.0-psd01.md for example.

### **Responsibilities**
 * write Ethereum 1.0 JSON RPC API spec

[2021-11-01 19:28] JEAlfonsoP commented on #243
Hi, I kindly would like to apply for this call.
Thanks.

[2021-11-02 03:01] #235 closed

[2021-11-02 03:02] alita-moore opened #245 "ECH Engineering (November 2021)"
Contd. from [October 2021](https://github.com/ethereum-cat-herders/PM/issues/235)
- [x] https://github.com/alita-moore/PM/issues/5
- [x] https://github.com/ethereum/EIP-Bot/issues/5
- [ ] https://github.com/alita-moore/PM/issues/9
- [x] https://github.com/ethereum/EIP-Bot/issues/16
- [x] https://github.com/ethereum/EIP-Bot/issues/18
- [x] https://github.com/ethereum/EIP-Bot/issues/20
- [x] https:/

[2021-11-05 18:44] poojaranjan commented on #238
Completed & merged!
Thanks for your work, @geovgy!

[2021-11-05 18:44] #238 closed

[2021-11-05 18:49] poojaranjan opened #246 "Bounty for documenting notes (Merge Community meeting #1)"
**Task** - Document notes for Merge Community meeting #1

**Bounty** - 100 DAI

**Agenda** - https://github.com/ethereum/pm/issues/402

**Recording** - https://youtu.be/_kfS9jAUY6g

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethere

[2021-11-07 15:49] stefan-wuest commented on #246
I would like to try and do it.
Has anyone got an attendance list so I can try to identify all speakers? Otherwise I just try and do my best from what's spoken and shown in the video.

[2021-11-07 16:01] poojaranjan commented on #246
Great!
I am sorry the recording is not so good for the person documenting notes. You may add speaker 1, Speaker 2 instead of names.

@trent_vanepps by any chance do we have a list of participants?

[2021-11-07 20:44] stefan-wuest commented on #246
I used what I had/read/heard and tried to figure out as many names as possible. 👍🏼

[2021-11-08 18:33] poojaranjan commented on #246
Thanks, @stefan-wuest!

I hope it will be reviewed by @trent_vanepps before getting merged but in the meantime, please follow the [document](https://github.com/ethereum-cat-herders/PM/blob/master/How_to_claim_bounty.md) to claim the bounty.

[2021-11-08 19:06] poojaranjan opened #247 "Ethereum Cat Herders Meeting #71"
## Date and Time

Nov 09, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [Arrow Glacier](https://github.com/ethereum/execution-specs/blob/master/network-upgrade

[2021-11-08 23:10] poojaranjan commented on #246
@stefan-wuest
I understand it was a difficult task in absence of the speaker's name, but you nicely tried to capture the content. It's great.

This was the first Merge community call and has already passed over 300 views. We hope to share the notes with the broader community to follow along. A neat representation is highly appreciated.

I left a few suggestions on the overall document, it would be

[2021-11-09 02:18] poojaranjan commented on #242
Closing in favor of #247

[2021-11-09 02:18] #242 closed

[2021-11-12 20:07] poojaranjan commented on #243
This position is still open. If you're interested, please respond here.

[2021-11-13 03:41] JEAlfonsoP commented on #243
Hi, Yes I am.

[2021-11-23 00:23] poojaranjan opened #249 "Ethereum Cat Herders Meeting #72"
## Date and Time

Nov 23, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [Arrow Glacier](https://github.com/ethereum/execution-specs/blob/master/network-upgrade

[2021-11-23 00:34] poojaranjan commented on #247
closing in favor of #249

[2021-11-23 00:34] #247 closed

[2021-11-24 12:51] poojaranjan opened #250 "Ethereum Cat Herders Meeting #73"
## Date and Time

Dec 07, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

Event link: https://discord.gg/xKpB2D99?event=916803212126851102

## Agenda

New users on ECH Discord and/or contributor's introduction

### 0. [ECH Discord Incident](https://github.c

[2021-11-24 12:51] poojaranjan commented on #249
Closing in favor of #250

[2021-11-24 12:51] #249 closed

[2021-11-25 15:18] poojaranjan commented on #246
Task completed & bounty granted!

[2021-11-25 15:18] #246 closed

[2021-12-08 19:48] poojaranjan opened #253 "Ethereum Cat Herders Meeting #74"
## Date and Time

Dec 21, 2021, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- The Merge - [Kintsugi milestone](https://notes.ethereum.org/@djrtwo/kintsugi-milestones

[2021-12-28 15:41] poojaranjan opened #258 "Ethereum Cat Herders Meeting #75"
## Date and Time

Jan 04, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [The Merge](https://ethereumcatherders.com/the_merge/) 

### 2. ECH updates
- [Review 2

[2021-12-29 21:45] alita-moore opened #259 "ECH Engineering (December 2021)"
Contd. from [November 2021](https://github.com/ethereum-cat-herders/PM/issues/245)
- [ ] https://github.com/alita-moore/PM/issues/9
- [x] https://github.com/ethereum/EIP-Bot/issues/28
- [x] https://github.com/ethereum/EIP-Bot/issues/27
- [x] https://github.com/ethereum/EIP-Bot/issues/26
- [x] https://github.com/ethereum/EIP-Bot/issues/25

New:
- [ ] https://github.com/ethereum/EIP-Bot/issues/38
-

[2021-12-29 21:46] alita-moore commented on #245
superceeded by https://github.com/ethereum-cat-herders/PM/issues/259

[2021-12-30 17:48] #245 closed

[2021-12-30 17:52] poojaranjan commented on #250
closing in favor of #253

[2021-12-30 17:52] #250 closed

[2021-12-30 17:52] poojaranjan commented on #253
closing in favor of #258

[2021-12-30 17:52] #253 closed

[2022-01-02 04:15] alita-moore opened #261 "ECH Engineering (January 2022)"
Contd. from [December 2021](https://github.com/ethereum-cat-herders/PM/issues/259)
- [x] https://github.com/alita-moore/PM/issues/9 (@alita-moore)
- [x] https://github.com/ethereum/EIP-Bot/issues/38 (@alita-moore)
- [ ] https://github.com/ethereum/EIP-Bot/issues/34
- [x] https://github.com/ethereum/EIP-Bot/issues/33 (@alita-moore)
- [x] https://github.com/ethereum/EIP-Bot/issues/32 (@alita-moore)

[2022-01-03 15:46] poojaranjan commented on #259
Closing in favor of #261

[2022-01-03 15:46] #259 closed

[2022-01-17 22:35] poojaranjan opened #263 "Ethereum Cat Herders Meeting #76"
## Date and Time

Jan 18, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [The Merge](https://ethereumcatherders.com/the_merge/) 

### 2. ECH updates
- [ECH webs

[2022-01-25 16:46] poojaranjan opened #265 "Ethereum Cat Herders Meeting #77"
## Date and Time

Feb 01, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Network upgrade
- [The Merge](https://ethereumcatherders.com/the_merge/) 
  - [Kiln Spec v1](https://hack

[2022-01-25 16:47] poojaranjan commented on #263
Closing in favor of #265

[2022-01-25 16:47] #263 closed

[2022-01-25 16:48] poojaranjan commented on #258
closing in favor of #263

[2022-01-25 16:48] #258 closed

[2022-02-01 10:11] alita-moore commented on #265
For engineering I have completed about 6 tickets in the past month. Key updates are:
- improvements to auto merge reliability or potential paths to viable solutions in the future
- custom maintainers, you can change who's mentioned when an error occurs by changing the maintainer list in the yml file
- fixing bugs
- PR auto labeling

In all, the backlog is nearly empty. There are no tickets older t

[2022-02-01 14:49] alita-moore commented on #265
Yes!

[2022-02-06 05:22] alita-moore opened #266 "ECH Engineering February 2022"
Contd. from [December 2021](https://github.com/ethereum-cat-herders/PM/issues/261)
- [ ] https://github.com/ethereum/EIP-Bot/issues/34
- [ ] https://github.com/ethereum/EIP-Bot/issues/42
- [ ] https://github.com/ethereum/EIP-Bot/issues/45
- [ ] https://github.com/ethereum/EIP-Bot/issues/46

[2022-02-06 05:27] alita-moore commented on #261
updated with relevant details and superceeded with https://github.com/ethereum-cat-herders/PM/issues/266

[2022-02-06 05:27] #261 closed

[2022-02-09 03:28] poojaranjan opened #268 "Ethereum Cat Herders Meeting #78"
## Date and Time

Feb 15, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Ethereum network upgrades
- [The Merge](https://ethereumcatherders.com/the_merge/) 
  - Merge Community m

[2022-02-10 16:23] poojaranjan commented on #243
No longer responded by team.

[2022-02-10 16:23] #243 closed

[2022-02-10 16:23] poojaranjan commented on #265
closing in favor of #268

[2022-02-10 16:23] #265 closed

[2022-02-10 16:26] poojaranjan opened #269 "Bounty for documenting notes (CL meeting 80)"
**Task** - Document notes for CL meeting 80

**Bounty** - 150 DAI

**Agenda** - https://github.com/ethereum/pm/issues/458

**Guidelines & template** - https://github.com/ethereum-cat-herders/PM/blob/master/Meeting_Notes_Template.md

**Submission timeline** - 3 days

Create a Pull Request to submit the notes [here](https://github.com/ethereum/pm/tree/master/Consensus-Layer-Meetings)

(Earlier notes

[2022-02-12 04:08] Santhosh1692 commented on #269
I will work on it.

[2022-02-15 07:29] wschwab commented on #268
I'd like to talk about the ECH's ENS addresses - they expired and I grabbed them, I also picked up `ech.eth` (which is more expensive since it's a three-character), and would like to see if everyone agrees that it should be reimbursed. There's also some other technical questions around them.

Just to be clear, I picked them up on Sunday but have not yet transferred them - I'd like to make really s

[2022-02-15 13:06] poojaranjan commented on #269
Thanks @Santhosh1692. Please share the Pull Request link, when available.

[2022-02-15 13:30] poojaranjan commented on #268
@wschwab added to the agenda.

[2022-02-15 22:51] poojaranjan opened #270 "Ethereum Cat Herders Meeting #79"
## Date and Time

Mar 01, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Ethereum network upgrades
- [The Merge](https://ethereumcatherders.com/the_merge/) 
   - KTH Royal Instit

[2022-02-15 22:51] poojaranjan commented on #268
Closing in favor of #270

[2022-02-15 22:51] #268 closed

[2022-03-14 14:56] poojaranjan opened #274 "Ethereum Cat Herders Meeting #80"
## Date and Time

Mar 15, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Ethereum network upgrades
- [The Merge](https://ethereumcatherders.com/the_merge/) 
  - [Announcing the K

[2022-03-29 10:44] poojaranjan opened #275 "Ethereum Cat Herders Meeting #81"
## Date and Time

March 29, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Ethereum network upgrades
- [The Merge](https://ethereumcatherders.com/the_merge/) 
  - [Announcing the

[2022-03-29 13:29] poojaranjan commented on #274
closing in favor of #275

[2022-03-29 13:29] #274 closed

[2022-03-29 13:29] poojaranjan commented on #270
closing in favor of #274

[2022-03-29 13:29] #270 closed

[2022-03-29 13:29] poojaranjan commented on #269
bounty claimed.

[2022-03-29 13:29] #269 closed

[2022-04-12 01:33] poojaranjan opened #278 "Ethereum Cat Herders Meeting #82"
## Date and Time

April 12, 2022, at 15:00 UTC

## Location

Zoom: https://us02web.zoom.us/j/84834303064?pwd=YTVDNUxvSjEzL1VTOXNoNmI1a2RlZz09

Video at YouTube: https://www.youtube.com/channel/UCD9iiIwTRtLDYcEWONs2Q3A

## Agenda

New users on ECH Discord and/or contributor's introduction

### 1. Ethereum network upgrades
- [The Merge](https://ethereumcatherders.com/the_merge/) 
  - Mainnet Shadow